# 10 Minutes to Pandas 
 - Python 유재명 교수 추천

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Object Creation 
 - 수업시간에 함

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20161016', periods=6)
dates

DatetimeIndex(['2016-10-16', '2016-10-17', '2016-10-18', '2016-10-19',
               '2016-10-20', '2016-10-21'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2016-10-16  0.340866  1.263101 -1.739877 -1.253067
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Viewing Data

In [7]:
df.head()

                   A         B         C         D
2016-10-16  0.340866  1.263101 -1.739877 -1.253067
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060

In [8]:
df.tail(3)

                   A         B         C         D
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602

In [9]:
df.index

DatetimeIndex(['2016-10-16', '2016-10-17', '2016-10-18', '2016-10-19',
               '2016-10-20', '2016-10-21'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.values

array([[ 0.34086582,  1.2631011 , -1.739877  , -1.25306704],
       [ 0.96841237,  0.4489026 ,  0.65901574,  0.92806851],
       [-0.76184789,  0.8825291 , -0.04936785,  0.59328819],
       [-1.1975418 , -2.69309242, -0.93078524,  0.27402052],
       [-0.32200324, -0.75904487, -0.81037605, -1.19105989],
       [-0.36042794, -0.66807324,  0.61374352, -1.81260247]])

Describe shows a quick statistic summary of your data

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.222090 -0.254280 -0.376274 -0.410225
std    0.775394  1.446587  0.950176  1.144815
min   -1.197542 -2.693092 -1.739877 -1.812602
25%   -0.661493 -0.736302 -0.900683 -1.237565
50%   -0.341216 -0.109585 -0.429872 -0.458520
75%    0.175149  0.774122  0.447966  0.513471
max    0.968412  1.263101  0.659016  0.928069

In [13]:
df.T

   2016-10-16  2016-10-17  2016-10-18  2016-10-19  2016-10-20  2016-10-21
A    0.340866    0.968412   -0.761848   -1.197542   -0.322003   -0.360428
B    1.263101    0.448903    0.882529   -2.693092   -0.759045   -0.668073
C   -1.739877    0.659016   -0.049368   -0.930785   -0.810376    0.613744
D   -1.253067    0.928069    0.593288    0.274021   -1.191060   -1.812602

Sorting by an axis

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-10-16 -1.253067 -1.739877  1.263101  0.340866
2016-10-17  0.928069  0.659016  0.448903  0.968412
2016-10-18  0.593288 -0.049368  0.882529 -0.761848
2016-10-19  0.274021 -0.930785 -2.693092 -1.197542
2016-10-20 -1.191060 -0.810376 -0.759045 -0.322003
2016-10-21 -1.812602  0.613744 -0.668073 -0.360428

In [15]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-18 -0.761848  0.882529 -0.049368  0.593288
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-16  0.340866  1.263101 -1.739877 -1.253067

Sorting by values

In [16]:
df.sort_values(by='B')

                   A         B         C         D
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288
2016-10-16  0.340866  1.263101 -1.739877 -1.253067

# Selection
 - we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

In [17]:
df['A']

2016-10-16    0.340866
2016-10-17    0.968412
2016-10-18   -0.761848
2016-10-19   -1.197542
2016-10-20   -0.322003
2016-10-21   -0.360428
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2016-10-16  0.340866  1.263101 -1.739877 -1.253067
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288

In [19]:
df['20161016':'20161018']

                   A         B         C         D
2016-10-16  0.340866  1.263101 -1.739877 -1.253067
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288

## Selection by Labels

In [20]:
#dates[0]
df.loc(dates[0])

In [21]:
df.loc[:,['A','B']]

                   A         B
2016-10-16  0.340866  1.263101
2016-10-17  0.968412  0.448903
2016-10-18 -0.761848  0.882529
2016-10-19 -1.197542 -2.693092
2016-10-20 -0.322003 -0.759045
2016-10-21 -0.360428 -0.668073

In [22]:
df.loc['20161016':'20161018',['A','B']]

                   A         B
2016-10-16  0.340866  1.263101
2016-10-17  0.968412  0.448903
2016-10-18 -0.761848  0.882529

In [23]:
df.loc['20161016',['A','B']]

A    0.340866
B    1.263101
Name: 2016-10-16 00:00:00, dtype: float64

 - 이하 수업시간에 한 부분은 생략하겠다.

 - DataFrame Copy

In [24]:
df2 = df.copy()
df2

                   A         B         C         D
2016-10-16  0.340866  1.263101 -1.739877 -1.253067
2016-10-17  0.968412  0.448903  0.659016  0.928069
2016-10-18 -0.761848  0.882529 -0.049368  0.593288
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602

In [25]:
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2016-10-16  0.340866  1.263101 -1.739877 -1.253067    one
2016-10-17  0.968412  0.448903  0.659016  0.928069    one
2016-10-18 -0.761848  0.882529 -0.049368  0.593288    two
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021  three
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060   four
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602  three

In [26]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2016-10-18 -0.761848  0.882529 -0.049368  0.593288    two
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021  three
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602  three

## Setting
 - Setting a new column automatically aligns the data by the indexes

In [27]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20161016', periods=6))
s1

2016-10-16    1
2016-10-17    2
2016-10-18    3
2016-10-19    4
2016-10-20    5
2016-10-21    6
Freq: D, dtype: int64

In [28]:
df['F'] = s1
df

                   A         B         C         D  F
2016-10-16  0.340866  1.263101 -1.739877 -1.253067  1
2016-10-17  0.968412  0.448903  0.659016  0.928069  2
2016-10-18 -0.761848  0.882529 -0.049368  0.593288  3
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021  4
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060  5
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602  6

In [29]:
df.at[dates[0],'A'] = 0

In [30]:
df

                   A         B         C         D  F
2016-10-16  0.000000  1.263101 -1.739877 -1.253067  1
2016-10-17  0.968412  0.448903  0.659016  0.928069  2
2016-10-18 -0.761848  0.882529 -0.049368  0.593288  3
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021  4
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060  5
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602  6

In [31]:
df.iat[0,1] = 0
df

                   A         B         C         D  F
2016-10-16  0.000000  0.000000 -1.739877 -1.253067  1
2016-10-17  0.968412  0.448903  0.659016  0.928069  2
2016-10-18 -0.761848  0.882529 -0.049368  0.593288  3
2016-10-19 -1.197542 -2.693092 -0.930785  0.274021  4
2016-10-20 -0.322003 -0.759045 -0.810376 -1.191060  5
2016-10-21 -0.360428 -0.668073  0.613744 -1.812602  6

In [32]:
len(df)

6

In [33]:
np.array([5] * len(df))

array([5, 5, 5, 5, 5, 5])

In [34]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2016-10-16  0.000000  0.000000 -1.739877  5  1
2016-10-17  0.968412  0.448903  0.659016  5  2
2016-10-18 -0.761848  0.882529 -0.049368  5  3
2016-10-19 -1.197542 -2.693092 -0.930785  5  4
2016-10-20 -0.322003 -0.759045 -0.810376  5  5
2016-10-21 -0.360428 -0.668073  0.613744  5  6

In [35]:
df2 = df.copy()
df2[df2>0]

                   A         B         C  D  F
2016-10-16       NaN       NaN       NaN  5  1
2016-10-17  0.968412  0.448903  0.659016  5  2
2016-10-18       NaN  0.882529       NaN  5  3
2016-10-19       NaN       NaN       NaN  5  4
2016-10-20       NaN       NaN       NaN  5  5
2016-10-21       NaN       NaN  0.613744  5  6

In [36]:
df2[df2>0] = -df2
df2

                   A         B         C  D  F
2016-10-16  0.000000  0.000000 -1.739877 -5 -1
2016-10-17 -0.968412 -0.448903 -0.659016 -5 -2
2016-10-18 -0.761848 -0.882529 -0.049368 -5 -3
2016-10-19 -1.197542 -2.693092 -0.930785 -5 -4
2016-10-20 -0.322003 -0.759045 -0.810376 -5 -5
2016-10-21 -0.360428 -0.668073 -0.613744 -5 -6

## Missing Data

In [37]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D  F    E
2016-10-16  0.000000  0.000000 -1.739877  5  1  1.0
2016-10-17  0.968412  0.448903  0.659016  5  2  1.0
2016-10-18 -0.761848  0.882529 -0.049368  5  3  NaN
2016-10-19 -1.197542 -2.693092 -0.930785  5  4  NaN

In [38]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2016-10-16  0.000000  0.000000 -1.739877  5  1  1.0
2016-10-17  0.968412  0.448903  0.659016  5  2  1.0

In [39]:
df1.dropna(how='all')

                   A         B         C  D  F    E
2016-10-16  0.000000  0.000000 -1.739877  5  1  1.0
2016-10-17  0.968412  0.448903  0.659016  5  2  1.0
2016-10-18 -0.761848  0.882529 -0.049368  5  3  NaN
2016-10-19 -1.197542 -2.693092 -0.930785  5  4  NaN

In [40]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2016-10-16  0.000000  0.000000 -1.739877  5  1  1.0
2016-10-17  0.968412  0.448903  0.659016  5  2  1.0
2016-10-18 -0.761848  0.882529 -0.049368  5  3  5.0
2016-10-19 -1.197542 -2.693092 -0.930785  5  4  5.0

In [41]:
pd.isnull(df1)

                A      B      C      D      F      E
2016-10-16  False  False  False  False  False  False
2016-10-17  False  False  False  False  False  False
2016-10-18  False  False  False  False  False   True
2016-10-19  False  False  False  False  False   True

## Operations
### Stats

In [42]:
df.mean()

A   -0.278901
B   -0.464796
C   -0.376274
D    5.000000
F    3.500000
dtype: float64

In [43]:
df.mean(1)

2016-10-16    0.852025
2016-10-17    1.815266
2016-10-18    1.614263
2016-10-19    0.835716
2016-10-20    1.621715
2016-10-21    2.117048
Freq: D, dtype: float64

In [44]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates)
s

2016-10-16    1.0
2016-10-17    3.0
2016-10-18    5.0
2016-10-19    NaN
2016-10-20    6.0
2016-10-21    8.0
Freq: D, dtype: float64

In [45]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2016-10-16    NaN
2016-10-17    NaN
2016-10-18    1.0
2016-10-19    3.0
2016-10-20    5.0
2016-10-21    NaN
Freq: D, dtype: float64

In [46]:
s1 = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(3)
s1

2016-10-16    NaN
2016-10-17    NaN
2016-10-18    NaN
2016-10-19    1.0
2016-10-20    3.0
2016-10-21    5.0
Freq: D, dtype: float64

In [47]:
df.sub(s, axis='index')

                   A         B         C    D    F
2016-10-16       NaN       NaN       NaN  NaN  NaN
2016-10-17       NaN       NaN       NaN  NaN  NaN
2016-10-18 -1.761848 -0.117471 -1.049368  4.0  2.0
2016-10-19 -4.197542 -5.693092 -3.930785  2.0  1.0
2016-10-20 -5.322003 -5.759045 -5.810376  0.0  0.0
2016-10-21       NaN       NaN       NaN  NaN  NaN

In [48]:
df.sub(s1, axis='index')

                   A         B         C    D    F
2016-10-16       NaN       NaN       NaN  NaN  NaN
2016-10-17       NaN       NaN       NaN  NaN  NaN
2016-10-18       NaN       NaN       NaN  NaN  NaN
2016-10-19 -2.197542 -3.693092 -1.930785  4.0  3.0
2016-10-20 -3.322003 -3.759045 -3.810376  2.0  2.0
2016-10-21 -5.360428 -5.668073 -4.386256  0.0  1.0

### Apply

In [51]:
df

                   A         B         C  D  F
2016-10-16  0.000000  0.000000 -1.739877  5  1
2016-10-17  0.968412  0.448903  0.659016  5  2
2016-10-18 -0.761848  0.882529 -0.049368  5  3
2016-10-19 -1.197542 -2.693092 -0.930785  5  4
2016-10-20 -0.322003 -0.759045 -0.810376  5  5
2016-10-21 -0.360428 -0.668073  0.613744  5  6

In [49]:
df.apply(np.cumsum) # 열별로 누적합.

                   A         B         C   D   F
2016-10-16  0.000000  0.000000 -1.739877   5   1
2016-10-17  0.968412  0.448903 -1.080861  10   3
2016-10-18  0.206564  1.331432 -1.130229  15   6
2016-10-19 -0.990977 -1.361661 -2.061014  20  10
2016-10-20 -1.312981 -2.120706 -2.871390  25  15
2016-10-21 -1.673408 -2.788779 -2.257647  30  21

In [53]:
df.apply(lambda x: x.max() - x.min()) # 열별로 최대 최소값 차.

A    2.165954
B    3.575622
C    2.398893
D    0.000000
F    5.000000
dtype: float64

## Histogramming¶

In [54]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    0
2    4
3    0
4    4
5    6
6    5
7    0
8    3
9    4
dtype: int32

In [55]:
s.value_counts()

4    4
0    3
6    1
5    1
3    1
dtype: int64

## String Methods

In [56]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge
### Concate
- pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [57]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.802263  0.182715  0.850122  2.103371
1  0.126615  0.738218  1.358009  0.656344
2  0.079890 -1.671023  2.345523 -1.015660
3  0.918426 -0.326474  0.507561 -1.673068
4  0.377402  0.147493  1.079681  0.343984
5 -0.248057  0.097160 -0.979232 -0.389065
6  1.977331 -2.397978  0.131016 -0.763541
7  3.143211 -1.279462  2.867067 -1.057455
8 -1.543369 -0.328742  0.041374 -0.020162
9  0.158182  1.834603 -1.547489 -0.364280

In [59]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  0.802263  0.182715  0.850122  2.103371
 1  0.126615  0.738218  1.358009  0.656344
 2  0.079890 -1.671023  2.345523 -1.015660,
           0         1         2         3
 3  0.918426 -0.326474  0.507561 -1.673068
 4  0.377402  0.147493  1.079681  0.343984
 5 -0.248057  0.097160 -0.979232 -0.389065
 6  1.977331 -2.397978  0.131016 -0.763541,
           0         1         2         3
 7  3.143211 -1.279462  2.867067 -1.057455
 8 -1.543369 -0.328742  0.041374 -0.020162
 9  0.158182  1.834603 -1.547489 -0.364280]

In [61]:
pd.concat(pieces)

          0         1         2         3
0  0.802263  0.182715  0.850122  2.103371
1  0.126615  0.738218  1.358009  0.656344
2  0.079890 -1.671023  2.345523 -1.015660
3  0.918426 -0.326474  0.507561 -1.673068
4  0.377402  0.147493  1.079681  0.343984
5 -0.248057  0.097160 -0.979232 -0.389065
6  1.977331 -2.397978  0.131016 -0.763541
7  3.143211 -1.279462  2.867067 -1.057455
8 -1.543369 -0.328742  0.041374 -0.020162
9  0.158182  1.834603 -1.547489 -0.364280

### Join
 - SQL style merges. See the Database style joining

In [63]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [64]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [65]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [66]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [67]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [69]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Append

In [71]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.978635  1.475045 -0.523649  1.083207
1 -0.223343 -0.323527 -1.340261 -0.006701
2 -1.868173 -1.851096  0.735453 -0.451340
3 -1.177303 -0.288800 -0.753319 -0.125570
4 -0.154075  1.482175 -1.099631  1.001279
5  1.121478  1.851409 -0.457293  0.544830
6  0.305798 -0.174215  0.759966  0.191839
7  0.196939 -0.113388 -0.079384  0.639492

In [72]:
s = df.iloc[3]
s

A   -1.177303
B   -0.288800
C   -0.753319
D   -0.125570
Name: 3, dtype: float64

In [73]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.978635  1.475045 -0.523649  1.083207
1 -0.223343 -0.323527 -1.340261 -0.006701
2 -1.868173 -1.851096  0.735453 -0.451340
3 -1.177303 -0.288800 -0.753319 -0.125570
4 -0.154075  1.482175 -1.099631  1.001279
5  1.121478  1.851409 -0.457293  0.544830
6  0.305798 -0.174215  0.759966  0.191839
7  0.196939 -0.113388 -0.079384  0.639492
8 -1.177303 -0.288800 -0.753319 -0.125570

### Grouping

In [75]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                            'foo', 'bar', 'foo', 'foo'],
                      'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  2.302245 -0.230385
1  bar    one -0.071642  0.312916
2  foo    two  0.372419 -0.364921
3  bar  three -0.691446 -0.059043
4  foo    two -1.564816  2.502863
5  bar    two -0.825399  0.445577
6  foo    one -0.900140  1.146976
7  foo  three  0.906155  1.554532

In [76]:
df.groupby('A').sum()

            C         D
A
bar -1.588488  0.699449
foo  1.115862  4.609067

In [77]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.071642  0.312916
    three -0.691446 -0.059043
    two   -0.825399  0.445577
foo one    1.402104  0.916592
    three  0.906155  1.554532
    two   -1.192397  2.137943

### Reshaping¶