# Final Test (Classification)

## 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,under50k
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,under50k
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,under50k
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,under50k
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,under50k

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 12 columns):
age               24999 non-null int64
workclass         24999 non-null object
education         24999 non-null int64
marital           24999 non-null object
occupation        24999 non-null object
relationship      24999 non-null object
race              24999 non-null object
sex               24999 non-null object
capital_gain      24999 non-null int64
capital_loss      24999 non-null int64
hours_per_week    24999 non-null int64
income            24999 non-null object
dtypes: int64(5), object(7)
memory usage: 2.3+ MB

## 독립변수

In [5]:
train.columns

Index(['age', 'workclass', 'education', 'marital', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [6]:
indep = train.columns[:-1]

In [7]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [8]:
discrete

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex']

In [9]:
continuous

['age', 'education', 'capital_gain', 'capital_loss', 'hours_per_week']

In [10]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [11]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,50,13,0,0,13,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,38,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,53,7,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,28,13,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [12]:
dummy.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_Divorced,marital_Married-AF-spouse,marital_Married-civ-spouse,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## 종속변수

In [13]:
dep = train.columns[-1]
y = train[dep]

In [14]:
y.head()

0    under50k
1    under50k
2    under50k
3    under50k
4    under50k
Name: income, dtype: object

## 변수 형태에 따른 데이터 분할

#### 범주형

In [15]:
train[discrete].head()

,workclass,marital,occupation,relationship,race,sex
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female

In [16]:
discrete_X = train[discrete]

In [17]:
train[continuous].head()

   age  education  capital_gain  capital_loss  hours_per_week
0   39         13          2174             0              40
1   50         13             0             0              13
2   38          9             0             0              40
3   53          7             0             0              40
4   28         13             0             0              40

In [18]:
continuous_X = train[continuous]

## 데이터 분할

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

## Import library

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
from sklearn import metrics

### 기준점 Lasso (교수님)
    [[ 376  253]
     [ 125 1746]]
    accuracy: 0.8488
    precision: 0.750499001996
    recall: 0.597774244833
    f1: 0.665486725664

### Get_Result(y_test, y_pred)

In [25]:
def getResult(y_test,y_pred):
    #print(metrics.confusion_matrix(y_test, y_pred))
    #print('accurracy:', metrics.accuracy_score(y_test, y_pred))
    #print('precision:', metrics.precision_score(y_test, y_pred, pos_label='over50k'))
    #print('recall:', metrics.recall_score(y_test, y_pred, pos_label='over50k'))
    #print('f1:', metrics.f1_score(y_test, y_pred, pos_label='over50k'))
    return metrics.f1_score(y_test, y_pred, pos_label='over50k')

## Logistic Regression : ridge

 - 전체 버젼

In [31]:
def logi(x,y):
    LR = LogisticRegression(penalty=x,C=y)
    LR.fit(X_train,y_train)
    y_ridge = LR.predict(X_test)
    return LR,getResult(y_test,y_ridge)

        10 l1
        [[ 380  249]
         [ 129 1742]]
        accurracy: 0.8488
        precision: 0.746561886051
        recall: 0.60413354531
        f1: 0.66783831283

In [ ]:
result = []

In [32]:
penal = ['l1','l2']
for i in range(10,100,5):
    for j in penal:
        result.append(logi(j,i))

10 l1
10 l2
15 l1
15 l2
20 l1
20 l2
25 l1
25 l2
30 l1
30 l2
35 l1
35 l2
40 l1
40 l2
45 l1
45 l2
50 l1
50 l2
55 l1
55 l2
60 l1
60 l2
65 l1
65 l2
70 l1
70 l2
75 l1
75 l2
80 l1
80 l2
85 l1
85 l2
90 l1
90 l2
95 l1
95 l2

# Decision Tree
## Random Forest (랜덤포레스트)

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
def randomLoop(x):
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(X_train,y_train)
    y_rf = rf.predict(X_test)
    
    return rf,getResult(y_test,y_rf)

In [43]:
for i in range(100,1000,100):
    result.append(randomLoop(i))

100
200
300
400
500
600
700
800
900

## ExtraTreesClassifier

In [44]:
from sklearn.ensemble import ExtraTreesClassifier

In [49]:
def ExtraLoop(x):
    print(x)
    clf = ExtraTreesClassifier(n_estimators=x, max_depth=None,min_samples_split=2, random_state=0)
    clf.fit(X_train,y_train)
    y_clf = clf.predict(X_test)
    return y_clf,getResult(y_test,y_clf)

In [50]:
for i in range(100,1000,100):
    result.append(ExtraLoop(i))

100
200
300
400
500
600
700
800
900

## Gradient Boosting Tree

In [51]:
from sklearn.ensemble import GradientBoostingClassifier

In [56]:
def gbt(x):
    gb = GradientBoostingClassifier(n_estimators=x)
    gb.fit(X_train,y_train)
    y_gb = gb.predict(X_test)
    return gb,getResult(y_test,y_gb)

In [57]:
for i in range(50,100,5):
    result.append(gbt(i))

## SVM

In [58]:
from sklearn.svm import SVC

In [62]:
def run_model(kernel,penalty,cache):
    model = SVC(kernel=kernel, C=penalty,cache_size=cache)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return model,getResult(y_test,y_pred)

In [63]:
for i in range(1,10):
    result.append(run_model('rbf',i,1000))

In [64]:
result = pd.DataFrame(result)

In [65]:
result.sort_values([1],ascending=False)

                                                    0         1
69  SVC(C=6, cache_size=1000, class_weight=None, c...  0.695575
72  SVC(C=9, cache_size=1000, class_weight=None, c...  0.694128
71  SVC(C=8, cache_size=1000, class_weight=None, c...  0.692982
70  SVC(C=7, cache_size=1000, class_weight=None, c...  0.692511
68  SVC(C=5, cache_size=1000, class_weight=None, c...  0.691689
63  ([DecisionTreeRegressor(criterion='friedman_ms...  0.684116
62  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683544
67  SVC(C=4, cache_size=1000, class_weight=None, c...  0.683499
60  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683015
61  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683015
66  SVC(C=3, cache_size=1000, class_weight=None, c...  0.681901
58  ([DecisionTreeRegressor(criterion='friedman_ms...  0.678213
59  ([DecisionTreeRegressor(criterion='friedman_ms...  0.677007
44  (DecisionTreeClassifier(class_weight=None, cri...  0.675745
57  ([DecisionTreeRegressor(criterion='friedman_ms...  0.675206
43  (DecisionTreeClassifier(class_weight=None, cri...  0.673418
39  (DecisionTreeClassifier(class_weight=None, cri...  0.673401
56  ([DecisionTreeRegressor(criterion='friedman_ms...  0.670956
40  (DecisionTreeClassifier(class_weight=None, cri...  0.670051
8   LogisticRegression(C=30, class_weight=None, du...  0.669596
37  (DecisionTreeClassifier(class_weight=None, cri...  0.668930
20  LogisticRegression(C=60, class_weight=None, du...  0.668426
24  LogisticRegression(C=70, class_weight=None, du...  0.667838
0   LogisticRegression(C=10, class_weight=None, du...  0.667838
14  LogisticRegression(C=45, class_weight=None, du...  0.667838
2   LogisticRegression(C=15, class_weight=None, du...  0.667838
30  LogisticRegression(C=85, class_weight=None, du...  0.667254
6   LogisticRegression(C=25, class_weight=None, du...  0.666667
18  LogisticRegression(C=55, class_weight=None, du...  0.666667
4   LogisticRegression(C=20, class_weight=None, du...  0.666667
..                                                ...       ...
17  LogisticRegression(C=50, class_weight=None, du...  0.665493
7   LogisticRegression(C=25, class_weight=None, du...  0.665490
19  LogisticRegression(C=55, class_weight=None, du...  0.664894
5   LogisticRegression(C=20, class_weight=None, du...  0.664894
1   LogisticRegression(C=10, class_weight=None, du...  0.664894
41  (DecisionTreeClassifier(class_weight=None, cri...  0.664407
9   LogisticRegression(C=30, class_weight=None, du...  0.663709
3   LogisticRegression(C=15, class_weight=None, du...  0.663709
11  LogisticRegression(C=35, class_weight=None, du...  0.663709
21  LogisticRegression(C=60, class_weight=None, du...  0.663709
27  LogisticRegression(C=75, class_weight=None, du...  0.663121
55  ([DecisionTreeRegressor(criterion='friedman_ms...  0.662350
23  LogisticRegression(C=65, class_weight=None, du...  0.661947
36  (DecisionTreeClassifier(class_weight=None, cri...  0.661578
42  (DecisionTreeClassifier(class_weight=None, cri...  0.659864
33  LogisticRegression(C=90, class_weight=None, du...  0.659574
13  LogisticRegression(C=40, class_weight=None, du...  0.658407
31  LogisticRegression(C=85, class_weight=None, du...  0.658385
65  SVC(C=2, cache_size=1000, class_weight=None, c...  0.657330
54  ([DecisionTreeRegressor(criterion='friedman_ms...  0.656744
53  [under50k, under50k, under50k, under50k, under...  0.654067
50  [under50k, under50k, under50k, under50k, under...  0.654067
52  [under50k, under50k, under50k, under50k, under...  0.652961
51  [under50k, under50k, under50k, under50k, under...  0.651888
49  [under50k, under50k, under50k, under50k, under...  0.651815
48  [under50k, under50k, under50k, under50k, under...  0.651815
47  [under50k, under50k, under50k, under50k, under...  0.650246
45  [under50k, under50k, under50k, under50k, under...  0.649180
46  [under50k, under50k, under50k, under50k, under...  0.649094
64  SVC(C=1, cache_size=1000, class_weight=None, c...  0.641148

[73 rows x 2 columns]

# 제출용 예측

In [68]:
test = pd.read_csv('test.csv')  # 제출용 데이터를 불러온다

In [69]:
test.iloc[:10,:]

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week
0,38,Private,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40
1,34,Local-gov,11,Divorced,Protective-serv,Own-child,Asian-Pac-Islander,Male,0,0,40
2,51,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50
3,48,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42
4,63,Private,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50
5,19,Private,9,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40
6,73,Private,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,20051,0,36
7,51,Private,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,43
8,54,Private,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40
9,41,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1848,40

In [72]:
dummy_final = pd.get_dummies(test[discrete])  # train과 동일하게 이산변수를 더미코딩한다
X_final = pd.concat([test[continuous], dummy_final], axis=1)  # 이산변수와 연속변수를 합쳐 예측용 데이터를 만든다

### SVC 모델

In [75]:
model = SVC(kernel='rbf', C=6,cache_size=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
getResult(y_test,y_pred)

0.695575221238938

In [77]:
y_final = model.predict(X_final)

# 제출용 예측 저장

In [74]:
import numpy

In [79]:
numpy.savetxt('final.csv', y_final, fmt='%s')  # 제출용 데이터를 저장한다