# Learning pySpark_Ch01
 - 스파크는 오픈소스 기반의 파워풀한 분산 쿼리와 데이터 처리 엔진이다. 
 - 하둡보다 최대 100배 빠른 속도를 보여준다. 메모리 기반의 데이터 처리와 함께 10배 빠르게 디스크로 접근한다.
 - $read$, $trasform$, $aggregate \ data$ 를 처리할 수 있다.

![img1](img/1.jpg)

## Spark Jobs and APIs
### Execution process
 - master node that then directs executor processes (that contain multiple tasks) distributed to a number of worker nodes as noted in the following diagram

![img2](img/2.jpg)

 - A Spark job is associated with a chain of object dependencies organized in a direct acyclic graph (DAG) such as the following example generated from the Spark UI. Given this, Spark can optimize the scheduling (for example, determine the number of tasks and workers required) and execution of these tasks

![img3](img/3.jpg)

## Resilient Distributed Dataset
 - Apache Spark is built around a distributed collection of immutable Java Virtual Machine (JVM) objects called Resilient Distributed Datasets (RDDs for short) 
  - 변경불가능한 분산된 집합 데이터셋 : RDD 
  
### 나머지 자세한 내용은 책을 보길 바람.

#### Under Spark 2.0 Version

In [23]:
df = sqlContext.read.format('json').load('D://Apps/spark/python/test_support/sql/people.json')

In [24]:
df.collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

#### Spark 2.0 Version

In [25]:
df = spark.read.format('json').load('D://Apps/spark/python/test_support/sql/people.json')
df.collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [26]:
df = spark.read.json('D://Apps/spark/python/test_support/sql/people.json')
df.collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

# LearningPySpark_Ch02

### Example 
 - the value of $A$ using the $.map(lambda v:(v,1))$ method, and then select those records that start with an $'A'$ using $.filter(lambda val: val.startswith('A'))$ method. 
 - $.reduceByKey(operator.add)$ will reduce the dataset and add(in thist example, count) the number of occurrences of each key. 
 - these steps $transform$ the dataset
 - $.collect()$ : execute the steps.
  - get each values with keys

## Resilient Distributed Datasets
### Creating RDDs
 - there are two ways to create an RDD in PySpark. 
  - 1. Paralleize a list

In [27]:
data = sc.parallelize([("Amber",22),("Alfred",23),('Skye',4),('Albert',12),('Amber',9)])
data

ParallelCollectionRDD[50] at parallelize at PythonRDD.scala:475

 - A로 시작하는 단어들을 추출

In [28]:
data.filter(lambda x:x[0].startswith('A')).collect()

[('Amber', 22), ('Alfred', 23), ('Albert', 12), ('Amber', 9)]

 - A로 시작하는 단어들을 추출하여 Key별로 합계

In [29]:
data.filter(lambda x:x[0].startswith('A')).reduceByKey(lambda x, y:x + y).collect()

[('Amber', 31), ('Alfred', 23), ('Albert', 12)]

 - A로 시작하는 단어들을 추출하여 전체 합계

In [30]:
data.filter(lambda x:x[0].startswith('A')).map(lambda row:row[1]).reduce(lambda x,y: x+y)

66

 - The other
  - 2. read from a repository(a file or DB)

In [31]:
data_from_file = sc.textFile("D://DataScience/VS14MORT.txt.gz",4)
data_from_file

D://DataScience/VS14MORT.txt.gz MapPartitionsRDD[59] at textFile at NativeMethodAccessorImpl.java:0

#### Schema 
 - RDDs are schema-less data structures.
 - can mix almost anything: a tuple, a dict, or a list and Spark will not complain.

In [32]:
data_heterogenous = sc.parallelize([('Ferrari', 'fast'), {'Porsche': 100000}, ['Spain','visited', 4504]]).collect()
data_heterogenous

[('Ferrari', 'fast'), {'Porsche': 100000}, ['Spain', 'visited', 4504]]

 - You can access the data in the object as you would normally do in Python.

In [33]:
data_heterogenous[0]

('Ferrari', 'fast')

In [34]:
data_heterogenous[0][1]

'fast'

In [35]:
data_heterogenous[1]

{'Porsche': 100000}

In [36]:
data_heterogenous[1]['Porsche']

100000

In [37]:
data_heterogenous[2]

['Spain', 'visited', 4504]

In [38]:
data_heterogenous[2][1:3]

['visited', 4504]

#### Reading from files
 - When you read from a text file, each row from the file forms an element of an RDD.
  - line by line formation

In [39]:
data_from_file.take(1)

['                   1                                          2101  M1087 432311  4M4                2014U7CN                                    I64 238 070   24 0111I64                                                                                                                                                                           01 I64                                                                                                  01  11                                 100 601']

In [40]:
data_from_file.take(11)

['                   1                                          2101  M1087 432311  4M4                2014U7CN                                    I64 238 070   24 0111I64                                                                                                                                                                           01 I64                                                                                                  01  11                                 100 601',
 '                   1                                          2101  M1058 371708  4D3                2014U7CN                                    I250214 062   21 0311I250 61I272 62E669                                                                                                                                                            03 I250 E669 I272                                                                                       01  11                                 100 601',
 '                   1                                          7101  F1075 412110  4W2                2014U7CN                                    J449267 086   28 0211J449 61F179                                                                                                                                                                   02 J449 F179                                                                                            01  11                                 100 601',
 '                   1                                          6101  M1074 402009  6D1                2014U7CN                                    I48 228 068   22 0311I64  21I48  61F03                                                                                                                                                             03 I48  F03  I64                                                                                        01  11                                 100 601',
 '                   1                                          3101  M1064 381808  4D2                2014U7CN                                    I250214 062   21 0111I250                                                                                                                                                                          01 I250                                                                                                 01  11                                 100 601',
 '                   1                                          5101  F1093 442411  6W4                2014U7CN                                    K137280 111   37 0511K137 12R040 21C349 61F03  62C509                                                                                                                                              05 K137 C349 C509 F03  R040                                                                             01  11                                 100 601',
 '                   1                                          4101  M1082 422210  4M6                2014U7CN                                    I251215 063   21 0411I469 21I259 31I251 61N183                                                                                                                                                     03 I251 I469 N183                                                                                       01  11                                 100 601',
 '                   1                                          4101  M1055 371708  7S6                2014U7CN                                    I250214 062   21 0211I250 61F102                                                                                                                                                                   02 I250 F102                                                                                            021 32                                 100 715',
 '                   1                                          3101  F1086 432311  4W6                2014U7CN                                    F03 175 111   37 0111F03                                                                                                                                                                           01 F03                                                                                                  01  11                                 100 601',
 '                   1                                          3101  M1023 301004  7S4                2014N2RN                                  95X72 429 125   40 0311S019 12X72  61T141                                                                                                                                                            03 X72  S019 T141                                                                                       01  11                                 100 601',
 '                   1                                          3101  F1079 412110  6W2                2014U7CN                                    I350225 068   22 0211I500 21I350                                                                                                                                                                   02 I350 I500                                                                                            01  11                                 100 601']

#### Lambda Expression
#### User defined functions
 - You can create longer method to transform your data instead of using the lambda expression.
 - Return -99 means there's nothing to extract from data

In [41]:
def extractInformation(row):
    import re
    import numpy as np

    selected_indices = [
         2,4,5,6,7,9,10,11,12,13,14,15,16,17,18,
         19,21,22,23,24,25,27,28,29,30,32,33,34,
         36,37,38,39,40,41,42,43,44,45,46,47,48,
         49,50,51,52,53,54,55,56,58,60,61,62,63,
         64,65,66,67,68,69,70,71,72,73,74,75,76,
         77,78,79,81,82,83,84,85,87,89
    ]

    '''
        Input record schema
        schema: n-m (o) -- xxx
            n - position from
            m - position to
            o - number of characters
            xxx - description
        1. 1-19 (19) -- reserved positions
        2. 20 (1) -- resident status
        3. 21-60 (40) -- reserved positions
        4. 61-62 (2) -- education code (1989 revision)
        5. 63 (1) -- education code (2003 revision)
        6. 64 (1) -- education reporting flag
        7. 65-66 (2) -- month of death
        8. 67-68 (2) -- reserved positions
        9. 69 (1) -- sex
        10. 70 (1) -- age: 1-years, 2-months, 4-days, 5-hours, 6-minutes, 9-not stated
        11. 71-73 (3) -- number of units (years, months etc)
        12. 74 (1) -- age substitution flag (if the age reported in positions 70-74 is calculated using dates of birth and death)
        13. 75-76 (2) -- age recoded into 52 categories
        14. 77-78 (2) -- age recoded into 27 categories
        15. 79-80 (2) -- age recoded into 12 categories
        16. 81-82 (2) -- infant age recoded into 22 categories
        17. 83 (1) -- place of death
        18. 84 (1) -- marital status
        19. 85 (1) -- day of the week of death
        20. 86-101 (16) -- reserved positions
        21. 102-105 (4) -- current year
        22. 106 (1) -- injury at work
        23. 107 (1) -- manner of death
        24. 108 (1) -- manner of disposition
        25. 109 (1) -- autopsy
        26. 110-143 (34) -- reserved positions
        27. 144 (1) -- activity code
        28. 145 (1) -- place of injury
        29. 146-149 (4) -- ICD code
        30. 150-152 (3) -- 358 cause recode
        31. 153 (1) -- reserved position
        32. 154-156 (3) -- 113 cause recode
        33. 157-159 (3) -- 130 infant cause recode
        34. 160-161 (2) -- 39 cause recode
        35. 162 (1) -- reserved position
        36. 163-164 (2) -- number of entity-axis conditions
        37-56. 165-304 (140) -- list of up to 20 conditions
        57. 305-340 (36) -- reserved positions
        58. 341-342 (2) -- number of record axis conditions
        59. 343 (1) -- reserved position
        60-79. 344-443 (100) -- record axis conditions
        80. 444 (1) -- reserve position
        81. 445-446 (2) -- race
        82. 447 (1) -- bridged race flag
        83. 448 (1) -- race imputation flag
        84. 449 (1) -- race recode (3 categories)
        85. 450 (1) -- race recode (5 categories)
        86. 461-483 (33) -- reserved positions
        87. 484-486 (3) -- Hispanic origin
        88. 487 (1) -- reserved
        89. 488 (1) -- Hispanic origin/race recode
     '''

    record_split = re.compile(
            r'([\s]{19})([0-9]{1})([\s]{40})([0-9\s]{2})([0-9\s]{1})([0-9]{1})([0-9]{2})' + 
            r'([\s]{2})([FM]{1})([0-9]{1})([0-9]{3})([0-9\s]{1})([0-9]{2})([0-9]{2})' + 
            r'([0-9]{2})([0-9\s]{2})([0-9]{1})([SMWDU]{1})([0-9]{1})([\s]{16})([0-9]{4})' +
            r'([YNU]{1})([0-9\s]{1})([BCOU]{1})([YNU]{1})([\s]{34})([0-9\s]{1})([0-9\s]{1})' +
            r'([A-Z0-9\s]{4})([0-9]{3})([\s]{1})([0-9\s]{3})([0-9\s]{3})([0-9\s]{2})([\s]{1})' + 
            r'([0-9\s]{2})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([\s]{36})([A-Z0-9\s]{2})([\s]{1})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([\s]{1})([0-9\s]{2})([0-9\s]{1})' + 
            r'([0-9\s]{1})([0-9\s]{1})([0-9\s]{1})([\s]{33})([0-9\s]{3})([0-9\s]{1})([0-9\s]{1})')
    try:
        rs = np.array(record_split.split(row))[selected_indices]
    except:
        rs = np.array(['-99'] * len(selected_indices))
    return rs
#     return record_split.split(row)

Now, instead of using lambda we will use the extractInformation(...) method to split and convert our dataset.

In [42]:
data_from_file_conv = data_from_file.map(extractInformation)

In [43]:
data_from_file_conv.take(1)

[array(['1', '  ', '2', '1', '01', 'M', '1', '087', ' ', '43', '23', '11',
        '  ', '4', 'M', '4', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I64 ',
        '238', '070', '   ', '24', '01', '11I64  ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '01',
        'I64  ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'],
       dtype='<U40')]

### Transformations
 - There include mapping, filtering, joining and transcoding the values in my datasets
#### .map(...)
 - The method is applied to $each \ element$ of the $RDD$
  - in the case for the data_from_file_conv dataset you can think of this as a transformation of each row.

 - if this fails we return a list of default values -99 so we know this record did not parse properly

In [44]:
tmp = data_from_file_conv.map(lambda row: int(row[0]))
tmp.take(10)

[1, 1, 1, 1, 1, 1, 1, 1, 1, -99]

 - this example, create a new dataset that will convert year of death into numberic value

In [45]:
data_2014 = data_from_file_conv.map(lambda row: int(row[16]))
data_2014.take(11)

[2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, -99, 2014]

 - You can combine more columns.
 - many columns can get over, but have to package them into a tuple, dict, or a list

In [46]:
data_2014_2 = data_from_file_conv.map(lambda row: (row[16], int(row[16])))
data_2014_2.take(10)

[('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('-99', -99)]

#### .filter(...)
 - The .filter(...) method allows you to select elements of your dataset that fit specified criteria.

In [47]:
data_from_file_conv.filter(lambda row: row[16]=='2014' and row[21] == '0').count()

22

In [48]:
data_filtered = data_from_file_conv.filter(lambda row: row[5] == 'F' and row[21] == '0')
data_filtered.count()

6

#### .flatMap(...)
 - The .flatMap(...) method works similarly to .map(...) but returns a flattened results instead of a list. => 리스트가 아니라 펼치 형태로 출력

In [49]:
data_2014_flat = data_from_file_conv.flatMap(lambda row: (row[16], int(row[16]) + 1))
data_2014_flat.take(10)

['2014', 2015, '2014', 2015, '2014', 2015, '2014', 2015, '2014', 2015]

#### .distinct()
 - This method returns a list of distinct values in a specified column.
 - First, extract only the column that contains the gender, Next user the $.distinct()$ to select only distinct values in the list and return the print of the values on the screen

In [50]:
distinct_gender = data_from_file_conv.map(lambda row: row[5]).distinct().collect()
distinct_gender

['-99', 'M', 'F']

#### .sample(...)
 - The .sample() method returns a randomized sample from the dataset.
 - .sample(반복?,퍼센트,Seed)
 - parameters
  - first(replacement) : should be with a replacement
  - second(fraction) : percent of datasets (X)
  - fraction : 복원 추출일때와 비복원 추출일때가 달라진다.
  - 복원 : 각 요소가 나타나는 횟수에 대한 기대값, 즉 각 요소의 평균 발생 횟수를 나타낸다. 반드시 0 이상
  - 비복원 : 각 요소가 샘플에 포함될 확률을 의미하며, 0과 1사이 값으로 지정. 
  - third : random seed

In [51]:
fraction = 0.1
data_sample = data_from_file_conv.sample(False, fraction, 666)

In [52]:
data_sample.take(1)

[array(['1', '  ', '5', '1', '01', 'F', '1', '082', ' ', '42', '22', '10',
        '  ', '4', 'W', '5', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I251',
        '215', '063', '   ', '21', '02', '11I350 ', '21I251 ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '02',
        'I251 ', 'I350 ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '28', ' ',
        ' ', '2', '4', '100', '8'],
       dtype='<U40')]

Let's confirm that we really got 10% of all the records.

In [53]:
print('Original dataset: {0}, sample: {1}'.format(data_from_file_conv.count(), data_sample.count()))

Original dataset: 2631171, sample: 263247

#### .leftOuterJoin(...) 
 - Left outer join, just like the SQL world, joins two RDDs based on the values found in both datasets
 - returns records from the left RDD with records from the right one appended where the two RDDs match.

In [56]:
rdd1 = sc.parallelize([('a', 1), ('b', 4), ('c',10)])
rdd2 = sc.parallelize([('a', 4), ('a', 1), ('b', '6'), ('d', 15)])

print(rdd1.collect())
print(rdd2.collect())

[('a', 1), ('b', 4), ('c', 10)]
[('a', 4), ('a', 1), ('b', '6'), ('d', 15)]

In [57]:
rdd3 = rdd1.leftOuterJoin(rdd2)
rdd3.take(5)

[('a', (1, 4)), ('a', (1, 1)), ('c', (10, None)), ('b', (4, '6'))]

If we used .join(...) method instead we would have gotten only the values for 'a' and 'b' as these two values intersect between these two RDDs.

In [58]:
rdd4 = rdd1.join(rdd2)
rdd4.collect()

[('a', (1, 4)), ('a', (1, 1)), ('b', (4, '6'))]

Another useful method is the .intersection(...) that returns the records that are equal in both RDDs.

In [59]:
rdd5 = rdd1.intersection(rdd2)
rdd5.collect()

[('a', 1)]

#### .repartition(...)
 - Repartitioning the dataset changes the number of partitions the dataset is divided into.
 - This functionality should be used sparingly and only when really necessary as it shuffles the data around

In [60]:
rdd1 = rdd1.repartition(4) #RDD의 경우 Paritioning이 되어있는 RDD형태이다. repartition하는 것이다. 
rdd1.collect()

[('a', 1), ('b', 4), ('c', 10)]

 - prints out 4 as the new number of partitions
 - $.glom()$ method : produces a list where each element is another lis tof all elements of the dataset persent in a specified partition

In [61]:
print("Size of Partitions in rdd1 : ",len(rdd1.glom().collect()))

Size of Partitions in rdd1 :  4

### Actions
#### .take(...)
The Method returns n top rows from a single data partition.

In [62]:
data_first = data_from_file_conv.take(1)
data_first

[array(['1', '  ', '2', '1', '01', 'M', '1', '087', ' ', '43', '23', '11',
        '  ', '4', 'M', '4', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I64 ',
        '238', '070', '   ', '24', '01', '11I64  ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '01',
        'I64  ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'],
       dtype='<U40')]

If you want somewhat randomized records you can use .takeSample(...) instead.

In [63]:
data_take_sampled = data_from_file_conv.takeSample(False, 1, 667) # (반복, 갯수, Seed)
data_take_sampled

[array(['2', '17', ' ', '0', '08', 'M', '1', '069', ' ', '39', '19', '09',
        '  ', '1', 'M', '7', '2014', 'U', '7', 'U', 'N', ' ', ' ', 'I251',
        '215', '063', '   ', '21', '06', '11I500 ', '21I251 ', '61I499 ',
        '62I10  ', '63N189 ', '64K761 ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '05',
        'I251 ', 'I120 ', 'I499 ', 'I500 ', 'K761 ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'],
       dtype='<U40')]

#### collect method
 - return all the elements of the RDD to the driver

In [64]:
rdd1.collect()

[('a', 1), ('b', 4), ('c', 10)]

#### .reduce(...)
Another action that processes your data, the .reduce(...) method reduces the elements of an RDD using a specified method.

 - rdd1.mao(lambda row:row[1]) : rdd1의 각 list내 tuple 데이터의 첫번째 값을가지고 온다.
 - 위 의 데이터들에 대해서 .reduce(lambda x,y : x + y) => 1(x) + 4(y) => 5(x) + 10(y) 형태로 계산

In [65]:
rdd1.map(lambda row:row[1]).reduce(lambda x,y : x+y)

15

#### Be Care of Partitioning

If the reducing function is not associative and commutative you will sometimes get wrong results depending how your data is partitioned.

In [66]:
data_reduce = sc.parallelize([1, 2, .5, .1, 5, .2], 1)
data_reduce.collect()

[1, 2, 0.5, 0.1, 5, 0.2]

I we were to reduce the data in a manner that we would like to divide the current result by the subsequent one, we would expect a value of 10
 - workds = 1 / 2 => 0.5 / 0.5 => 1 / 0.1 => 10 / 5 => 2 / 0.2 => 10

In [67]:
works = data_reduce.reduce(lambda x,y: x / y)
works

10.0

However, if you were to partition the data into 3 partitions, the result will be wrong.

In [68]:
data_reduce = sc.parallelize([1, 2, .5, .1, 5, .2], 3)
data_reduce.collect()

[1, 2, 0.5, 0.1, 5, 0.2]

In [69]:
data_reduce.reduce(lambda x, y: x / y) # 각각의 다른 파티션에서 나누기를 하고 오는 듯 하다.

0.004

The $.reduceByKey(...)$ method works in a $similar$ $way$ to the $.reduce(...)$ method but performs a reduction on a $key-by-key$ basis.

In [70]:
data_key = sc.parallelize([('a', 4),('b', 3),('c', 2),('a', 8),('d', 2),('b', 1),('d', 3)],4)
data_key.collect()

[('a', 4), ('b', 3), ('c', 2), ('a', 8), ('d', 2), ('b', 1), ('d', 3)]

In [71]:
data_key.reduceByKey(lambda x,y: x + y).collect() # 같은 Key (a,b,c,d) 값으로 합친다.

[('b', 4), ('c', 2), ('a', 12), ('d', 5)]

In [72]:
data_key.map(lambda row:row[1]).reduce(lambda x, y: x / y) # 역시나 문제가 있네.

2.0

#### .count()

The .count() method counts the number of elements in the RDD.

In [74]:
data_reduce.collect()

[1, 2, 0.5, 0.1, 5, 0.2]

In [76]:
data_reduce.count()

6

It has the same effect as the method below but does not require shifting the data to the driver.

In [77]:
len(data_reduce.collect()) # WRONG -- DON'T DO THIS!

6

If your dataset is in a form of a key-value you can use the .countByKey() method to get the counts of distinct keys.

In [78]:
data_key.countByKey()

defaultdict(int, {'a': 2, 'b': 2, 'c': 1, 'd': 2})

In [79]:
data_key.countByKey().items()

dict_items([('a', 2), ('b', 2), ('d', 2), ('c', 1)])

#### .saveAsTextFile(...)

As the name suggests, the .saveAsTextFile() the RDD and saves it to text files: each partition to a separate file.

In [ ]:
data_key.collect()

In [ ]:
data_key.saveAsTextFile('f://DataScience/11. PySpark/pySpark/Chapter01/data_key.txt')

To read it back, you need to parse it back as, as before, all the rows are treated as strings.

In [ ]:
def parseInput(row):
    import re
    
    pattern = re.compile(r'\(\'([a-z])\', ([0-9])\)')
    row_split = pattern.split(row)
    
    return (row_split[1], int(row_split[2]))

In [ ]:
parseInput("('a', 4)")

In [ ]:
parseInput("('a', 'b')")

In [ ]:
data_key_reread = sc.textFile('D://DataScience/11. PySpark/pySpark/Chapter01/data_key.txt').map(parseInput)

In [ ]:
data_key_reread.collect()

#### .foreach(...)
 - A method that $applies$ the $same \ function$ to $each \ element \ of \ the \ RDD$ in an iterative way.
 - in contrast to map method, foreach method applies a defined function to each record in a one by one fashion.

In [80]:
def f(x): 
    print(x)

In [83]:
data_key.foreach(f) # CLI 환경이었다면 내용이 출력되서 왔을 것이다. 하지만 Jupyter notebook이라 내용이 나오지 않는다.

In [82]:
data_key.collect()

[('a', 4), ('b', 3), ('c', 2), ('a', 8), ('d', 2), ('b', 1), ('d', 3)]

## Summary

 - RDD : the backbone of spark, these schema-less data structures dealing with spark 
 - way to create RDD 
  - first : read text file from data
  - second : .parallelize method
 - Transformations in Spark are lazy : when some actions becoming spark RDD will be transformed