In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
indep = train.columns[:-1]

In [4]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [5]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [6]:
dep = train.columns[-1]
y = train[dep]

In [7]:
X.shape

(24999, 46)

## Neural Network를 위한 replace value 0,1

In [8]:
y = y.replace(['under50k','over50k'],[0,1])

In [9]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [11]:
X_train.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
6910,53,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
18482,50,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4254,45,5,5178,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
16161,25,13,0,0,21,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
6673,26,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

# Tensorflow 불러오기

In [14]:
import tensorflow as tf
import tensorlayer as tl

### 기본 그래프 만들기

In [15]:
tf.reset_default_graph()
tl.layers.set_name_reuse(enable=True)

### 신경망 만들기

In [16]:
x = tf.placeholder(tf.float32, [None, 46]) # 입력 데이터

In [17]:
network = tl.layers.InputLayer(x,name="input") # 입력층

  tensorlayer:Instantiate InputLayer  input: (?, 46)

In [18]:
network = tl.layers.DropoutLayer(network, keep=0.8, name="drop1") # Dropout

  tensorlayer:Instantiate DropoutLayer drop1: keep: 0.800000

In [19]:
network = tl.layers.DenseLayer(network, n_units=46, act=tf.sigmoid, name="relu1")

  tensorlayer:Instantiate DenseLayer  relu1: 46, sigmoid

In [20]:
network = tl.layers.DropoutLayer(network, keep=0.5, name='drop2')

  tensorlayer:Instantiate DropoutLayer drop2: keep: 0.500000

In [21]:
network = tl.layers.DenseLayer(network, n_units=20, act=tf.sigmoid, name="relu2")

  tensorlayer:Instantiate DenseLayer  relu2: 20, sigmoid

In [22]:
network = tl.layers.DenseLayer(network, n_units=1, act=tf.sigmoid, name="output") # 출력층

  tensorlayer:Instantiate DenseLayer  output: 1, sigmoid

### 데이터

In [30]:
X_train.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
6910,53,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
18482,50,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4254,45,5,5178,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
16161,25,13,0,0,21,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
6673,26,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [39]:
y_train.values

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)

In [40]:
data = {x:X_train,y:y_train.values}

TypeError: 'Series' objects are mutable, thus they cannot be hashed

### 비용

In [47]:
predict = network.outputs # 예측값
y = tf.placeholder(tf.float32, [None, 1]) # 실제 값
cost = tl.cost.binary_cross_entropy(network.outputs, y)

In [48]:
gd = tf.train.RMSPropOptimizer(learning_rate=0.01, momentum=0.9)
train_step = gd.minimize(cost)  # cost를 최소화한다

### 세션과 변수 초기화

In [49]:
sess = tf.InteractiveSession()
sess.run(tf.global_variables_initializer())

### 그래프를 세션에서 실행

In [50]:
predict.eval(data)  # 초기 예측값

TypeError: Cannot interpret feed_dict key as Tensor: Tensor Tensor("Placeholder_5:0", shape=(?, 1), dtype=float32) is not an element of this graph.