# QVC Analytics Challenage

    QVC는 세계 유수의 비디오 및 전자 상거래 소매 업체로, 하루 24시간 364일 생방송으로 전세계 3억 가구에 서비스를 제공합니다.
    우리의 비전은 쇼핑, 엔터테인먼트 및 사회를 다시 상상함으로써 세계가 진출하는 방식을 변화시키는 것입니다.
    그렇게하기 위해 QVC는 고객의 경험을 분석하여 원하는 제품과 서비스를 제공하고 있는지 확인합니다.
    이 문제를 해결하기 위해 QVC는 이 데이터를 사용하여 고객의 구매 행동을 보다 잘 이해하고 예측하고자합니다.
    그러나 방송 시간은 한정된 자원이므로 QVC는 제품 및 제품 카테고리에 대해 최상의 방송 시간을 선택해야합니다.
    
    특히, QVC는 다음을 더 잘 이해하고자합니다.

### 1. 고객이 이전 구매 행동 및 제품 방송 시간을 고려할 때 다음 달에 다음 구매할 제품은 무엇입니까?
### 2. 이전 구매 행동 및 제품 방송 시간을 고려할 때 고객이 다음 제품을 구매할 가능성이있는 제품 범주는 무엇입니까?
### 3. 특정 지리적, 시간대 및 고객 부문에서 더 잘 팔리는 제품 및 제품 범주는 무엇입니까?
### 4. 특정 제품 또는 제품 카테고리를 판매하기에 가장 좋은 시간대가 있습니까?
### 5. QVC의 다른 고객 세그먼트에 대한 브랜드 선호도 (QVC가 판매하는 브랜드와의 개인적인 관계)는 무엇입니까?

    제품 방송 시간 및 고객 구매 행동을 고려한 고객 분석을 반영한 시각화 (정적 또는 대화식)를 개발하십시오.
    고객 주문 외에 분석에는 고객 지리, 고객 세그먼트 및 제품 대기 시간이 포함되어야합니다.

## Data
1. Customer master (customer number, customer state, customer zip, customer segmentation code)
 - 고객 마스터 (고객 번호, 고객 상태,ZIPcode, 고객 세분화 코드)
2. Product master (product number, product description, product category, product brand)
 - 제품 마스터 (제품 번호, 제품 설명, 제품 범주, 제품 브랜드)
3. 6 month history of customer orders (order date, order time, customer number, product number)
 - 고객 주문의 6 개월 내역 (주문 날짜, 주문 시간, 고객 번호, 제품 번호)
4. Product airtime (date, total time on air, product number, time on, time off)
 - 제품 방송 시간 (날짜, 총 대기 시간, 제품 번호, 시간 on, 시간 off)

In [1]:
customer <- read.csv("Customer master.csv")
pmaster <- read.csv("Product master.csv")
history <- read.csv("6 month history of customer orders.csv")
pairtime <- read.csv("Product airtime.csv")

In [2]:
head(customer,3)

  CUSTOMER_NBR STATE ZIP_CODE SHOPPER_SEGMENT_CODE
1 405680       OR    97331    NA
2 634748       IL    60126     1
3 693545       MI    48170     1

In [3]:
pmaster <- pmaster[,-c(5:7)]

In [4]:
head(pmaster,3)

  PRODUCT_ID PACKING_SLIP_DESC                               MERCH_DIV_DESC
1  5643      A-D tarte Amazonian Clay Volumizing Mascara Duo Health/Beauty
2 22506      Dell All-in-One 20 Monitor Intel Dual Core"     Electronics
3  5321      Dennis Basso 80 x 20" Floral Lace Shawl"        Accessories
  BRAND_NAME
1 tarte
2 Dell
3 Dennis Basso

In [5]:
history <- history[,-c(1,2)]

In [6]:
head(history,3)

  CUSTOMER_NBR PRODUCT_ID ORDER_DATE      ORDER_TIME
1 627088        8228      2012-10-01 0:00 3:40:06
2 419748       61616      2012-10-01 0:00 7:32:14
3 250358        3265      2012-10-01 0:00 14:16:30

In [12]:
head(t(pairtime[1:5,]),4)

                     1               2               3
PRODUCT_ID           2186            2186            2478
AIR_DATE             2012-10-16 0:00 2012-10-16 0:00 2012-10-16 0:00
PRODUCT_AIRTIME_MINS  0.38            5.08            0.50
PRODUCT_START_TMS    2012-10-16 0:43 2012-10-16 0:48 2012-10-16 0:25
                     4               5
PRODUCT_ID           2478            6283
AIR_DATE             2012-10-16 0:00 2012-10-16 0:00
PRODUCT_AIRTIME_MINS 12.53            0.43
PRODUCT_START_TMS    2012-10-16 0:31 2012-10-16 0:47