# R Programming install & basic
 - R Install 
 - Basic R Programming
 - Basic Data handling for datamining with R

## R & R-Studio install  
 - R-Cran (R) : https://cran.r-project.org/mirrors.html
 - R-studio (RStudio) : https://www.rstudio.com/products/rstudio/download/ 
 
 - Start R-studio 
 - 설치한 R-studio를 통해 수행해도 되고 Jupyter notebook에 R-Kernel을 만들어서 사용해도 무관하다.

### 1. Basic Calculation

In [1]:
3 + 4

[1] 7

In [2]:
4 - 2

[1] 2

In [4]:
17 %% 3 # 나머지

[1] 2

In [5]:
6 * 3

[1] 18

In [6]:
7 / 2

[1] 3.5

In [7]:
7 %/% 2 # 몫

[1] 3

### 2. Scala(스칼라)
 - R 에서의 데이터 타입은 문자형, 숫자형, 논리형 등 형태로 존재하는데 이러한 데이터 타입을 하나의 값만 가지는 것을 Scala(스칼라) 라고 한다.

In [11]:
1

[1] 1

In [12]:
"String"

[1] "String"

In [15]:
TRUE

[1] TRUE

In [16]:
FALSE

[1] FALSE

### 3. Vector(벡터)
 - 위의 Scala 값들을 묶어서 표현하는 것을 벡터라고 한다. 같은 데이터 타입의 값들을 여러개 묶어서 표현한다.
 - 숫자 + 문자로 벡터를 구성하게 된다면 해당 숫자형은 문자형으로 변환된다. 
 - 숫자 + 논리형태로 가지게 된다면 논리형의 경우 TRUE -> 1, FALSE -> 0 으로 표현

In [17]:
c(1,2,3)

[1] 1 2 3

In [18]:
c("a",2,3)

[1] "a" "2" "3"

In [20]:
c(TRUE,1,2)

[1] 1 1 2

In [21]:
c("a","b")

[1] "a" "b"

In [22]:
c(1, 2, 3) + c(5, 6, 7) # 각 요소끼리 덧셈

[1]  6  8 10

In [23]:
c(1, 2, 3) + 5 # 각 요소에 각각 덧셈(5를)

[1] 6 7 8

In [26]:
c(1, 2, 3) + c(3, 4) # 길이가 맞지 않을 경우 3, 4 순으로 해서 순서대로 더한다.

Warning message in c(1, 2, 3) + c(3, 4):
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1] 4 6 6

In [27]:
c(1, 2, 3,4) + c(3, 4) # 1 + 3, 2 + 4, 3 + 3, 4 + 4

[1] 4 6 6 8

### 4. Variable(변수)
 - 이름 그대로 변하는 수이다. 
 - 우리가 원하는 값을 담고 있는 그릇이라고 생각하면 된다. 
 - 원하는 그릇에 원하는 음식을 담듯이, 원하는 그릇에 원하는 값을 담으면 된다. 
 - 이와 반대되는 말이 상수가 있는데 상수는 변하지 않는 수 즉, 한번 담게 되면 고정되는 값이라고 생각하면 된다.

#### 4-1 Assign Variable

In [28]:
people <- 40 # 엑셀의 A1, B1 등과 같다고 보면 된다. 
people

[1] 40

In [29]:
people <- c(1,2,3)
people

[1] 1 2 3

#### 4-2 Delete Variable

In [30]:
ls() # 메모리에 저장되어있는 변수 명을 출력.

[1] "people"

In [31]:
rm(people)

모든 변수를 삭제 하고 싶다면

In [32]:
rm(list=ls())

#### 4-3 Calculate Variable

In [33]:
people <- c(1,2,3)

In [34]:
people * 3

[1] 3 6 9

In [36]:
people 
# 변수의 값을 연산하고 끝날뿐이지 결과값을 다시 할당하지 않는다면 일회성이라고 생각하면된다.

[1] 1 2 3

In [37]:
people <- people * 2
people # 재할당.

[1] 2 4 6

### 5. Indexing
 - Python과 달리 1부터 시작한다.
 - [시작:끝] 끝은 포함한다. 이 또한 파이썬과 다르다. 파이썬의 경우 시작은 포함 끝은 포함하지 않기 때문에.

In [38]:
people[1] # 1번만

[1] 2

In [40]:
people[1:2] # 1번부터 2번까지

[1] 2 4

### 6. Function (함수)
 - 사용자 지정함수 또한 만들어서 사용할 수 있다.
 - 함수의 도움말을 알기 위해서는 ?함수명 을 하게 되면 help가 나오게된다.

In [41]:
floor(3.4)

[1] 3

In [42]:
ceiling(2.1)

[1] 3

In [45]:
c(round(3.4),round(3.5))

[1] 3 4

In [47]:
user_add <- function(a,b){
    c <- a + a + b + b
    return(c)
}

In [48]:
user_add(1,2)

[1] 6

### 7. List (리스트)
 - 벡터의 경우 같은 종류의 데이터 타입만 여러개 가질 수 있다. 
 - 하지만 리스트의 경우 다른 종류의 데이터 타입을 여러개를 동시에 가질 수 있는 형태의 자료형이다.
 - json형태와 비슷하게 key,value 형태로 저장한 후 접근도 가능하다.

In [49]:
a <- list(1,2,3,'a',TRUE)
a

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] "a"

[[5]]
[1] TRUE

In [52]:
b <- list(a=1,b=3,c=TRUE,d='a')
b

$a
[1] 1

$b
[1] 3

$c
[1] TRUE

$d
[1] "a"

In [53]:
b$a

[1] 1

### 8. DataFrame(데이터프레임)
 - 엑셀의 하나의 시트라고 생각하면 될 것 같다.
 - 하나의 테이블에 컬럼과 로우가 있듯이 표현되는 데이터 형태이다.

In [54]:
car <- read.csv('automobile.csv')
# 다양한 속성을 통해 header를 가지고 올지, row를 새로 만들지 등을 정할 수 있다.

In [55]:
head(car) # 상위 5줄을 볼 수 있다.

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
2 2         164               audi  gas  std        four  sedan 4wd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
6 0         192               bmw   gas  std        four  sedan rwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front            99.8      ⋯ 109         mpfi        3.19 3.4
2 front            99.4      ⋯ 136         mpfi        3.19 3.4
3 front           105.8      ⋯ 136         mpfi        3.19 3.4
4 front           105.8      ⋯ 131         mpfi        3.13 3.4
5 front           101.2      ⋯ 108         mpfi        3.50 2.8
6 front           101.2      ⋯ 108         mpfi        3.50 2.8
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10.0              102        5500     24       30          13950
2  8.0              115        5500     18       22          17450
3  8.5              110        5500     19       25          17710
4  8.3              140        5500     17       20          23875
5  8.8              101        5800     23       29          16430
6  8.8              101        5800     23       29          16925

In [56]:
car2 <- read.csv(file.choose()) # R-Studio를통해서 수행하면 된다.

ERROR: Error in file.choose(): 파일선택이 취소되었습니다

In [57]:
View(car) 
# 이 또한 Rstudio를 통해서 하면 된다. 새로운 창을 통해 data를 전체적으로 볼 수 있다.

ERROR: Error in View(car): ‘View()’ not yet supported in the Jupyter R kernel

#### Size of data

In [58]:
dim(car) # rows x columns

[1] 159  26

#### Row indexing

In [59]:
car[1,]

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front           99.8       ⋯ 109         mpfi        3.19 3.4
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10                102        5500     24       30          13950

In [60]:
car[1:5,]

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
2 2         164               audi  gas  std        four  sedan 4wd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front            99.8      ⋯ 109         mpfi        3.19 3.4
2 front            99.4      ⋯ 136         mpfi        3.19 3.4
3 front           105.8      ⋯ 136         mpfi        3.19 3.4
4 front           105.8      ⋯ 131         mpfi        3.13 3.4
5 front           101.2      ⋯ 108         mpfi        3.50 2.8
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10.0              102        5500     24       30          13950
2  8.0              115        5500     18       22          17450
3  8.5              110        5500     19       25          17710
4  8.3              140        5500     17       20          23875
5  8.8              101        5800     23       29          16430

#### Columns indexing

In [63]:
head(car['maker'])

  maker
1 audi
2 audi
3 audi
4 audi
5 bmw
6 bmw

In [66]:
head(car[3]) # 컬럼의 위치를 선택하여서 볼 수 있다.

  maker
1 audi
2 audi
3 audi
4 audi
5 bmw
6 bmw

In [67]:
head(car[c("maker","body")])

  maker body
1 audi  sedan
2 audi  sedan
3 audi  sedan
4 audi  sedan
5 bmw   sedan
6 bmw   sedan

In [68]:
head(car[c(3,7)])

  maker body
1 audi  sedan
2 audi  sedan
3 audi  sedan
4 audi  sedan
5 bmw   sedan
6 bmw   sedan

In [69]:
head(car[,c(3,7)])

  maker body
1 audi  sedan
2 audi  sedan
3 audi  sedan
4 audi  sedan
5 bmw   sedan
6 bmw   sedan

In [70]:
car[1:2,3:7]

  maker fuel aspiration doors body
1 audi  gas  std        four  sedan
2 audi  gas  std        four  sedan

#### Compare values in data

In [71]:
subset(car, horsepower > 145)

    symboling normalized_losses maker         fuel aspiration doors body
33   0        145               jaguar        gas  std        four  sedan
49   3        142               mercedes-benz gas  std        two   convertible
72   0        128               nissan        gas  std        four  sedan
73   0        108               nissan        gas  std        four  wagon
74   0        108               nissan        gas  std        four  sedan
75   3        194               nissan        gas  std        two   hatchback
76   3        194               nissan        gas  turbo      two   hatchback
77   1        231               nissan        gas  std        two   hatchback
96   3        150               saab          gas  turbo      two   hatchback
97   2        104               saab          gas  turbo      four  sedan
138  3        197               toyota        gas  std        two   hatchback
139  3        197               toyota        gas  std        two   hatchback
140 -1         90               toyota        gas  std        four  sedan
153 -2        103               volvo         gas  turbo      four  sedan
154 -1         74               volvo         gas  turbo      four  wagon
156 -1         95               volvo         gas  turbo      four  sedan
    wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
33  rwd    front           113.0      ⋯ 258         mpfi        3.63 4.17
49  rwd    front            96.6      ⋯ 234         mpfi        3.46 3.10
72  fwd    front           100.4      ⋯ 181         mpfi        3.43 3.27
73  fwd    front           100.4      ⋯ 181         mpfi        3.43 3.27
74  fwd    front           100.4      ⋯ 181         mpfi        3.43 3.27
75  rwd    front            91.3      ⋯ 181         mpfi        3.43 3.27
76  rwd    front            91.3      ⋯ 181         mpfi        3.43 3.27
77  rwd    front            99.2      ⋯ 181         mpfi        3.43 3.27
96  fwd    front            99.1      ⋯ 121         mpfi        3.54 3.07
97  fwd    front            99.1      ⋯ 121         mpfi        3.54 3.07
138 rwd    front           102.9      ⋯ 171         mpfi        3.27 3.35
139 rwd    front           102.9      ⋯ 171         mpfi        3.27 3.35
140 rwd    front           104.5      ⋯ 171         mpfi        3.27 3.35
153 rwd    front           104.3      ⋯ 130         mpfi        3.62 3.15
154 rwd    front           104.3      ⋯ 130         mpfi        3.62 3.15
156 rwd    front           109.1      ⋯ 141         mpfi        3.78 3.15
    compression_ratio horsepower peak_rpm city_mpg highway_mpg price
33  8.1               176        4750     15       19          32250
49  8.3               155        4750     16       18          35056
72  9.0               152        5200     17       22          13499
73  9.0               152        5200     17       22          14399
74  9.0               152        5200     19       25          13499
75  9.0               160        5200     19       25          17199
76  7.8               200        5200     17       23          19699
77  9.0               160        5200     19       25          18399
96  9.0               160        5500     19       26          18150
97  9.0               160        5500     19       26          18620
138 9.3               161        5200     20       24          16558
139 9.3               161        5200     19       24          15998
140 9.2               156        5200     20       24          15690
153 7.5               162        5100     17       22          18420
154 7.5               162        5100     17       22          18950
156 8.7               160        5300     19       25          19045

In [73]:
subset(car, horsepower < 60)

    symboling normalized_losses maker      fuel   aspiration doors body
9   2         121               chevrolet  gas    std        two   hatchback
20  2         137               honda      gas    std        two   hatchback
61  1         128               nissan     diesel std        two   sedan
118 0          91               toyota     diesel std        four  sedan
119 0          91               toyota     diesel std        four  hatchback
141 2         122               volkswagen diesel std        two   sedan
143 2          94               volkswagen diesel std        four  sedan
    wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
9   fwd    front           88.4       ⋯  61         2bbl        2.91 3.03
20  fwd    front           86.6       ⋯  92         1bbl        2.91 3.41
61  fwd    front           94.5       ⋯ 103         idi         2.99 3.47
118 fwd    front           95.7       ⋯ 110         idi         3.27 3.35
119 fwd    front           95.7       ⋯ 110         idi         3.27 3.35
141 fwd    front           97.3       ⋯  97         idi         3.01 3.40
143 fwd    front           97.3       ⋯  97         idi         3.01 3.40
    compression_ratio horsepower peak_rpm city_mpg highway_mpg price
9    9.5              48         5100     47       53          5151
20   9.6              58         4800     49       54          6479
61  21.9              55         4800     45       50          7099
118 22.5              56         4500     34       36          7898
119 22.5              56         4500     38       47          7788
141 23.0              52         4800     37       46          7775
143 23.0              52         4800     37       46          7995

In [74]:
subset(car, horsepower <= 60)

    symboling normalized_losses maker      fuel   aspiration doors body
9   2         121               chevrolet  gas    std        two   hatchback
20  2         137               honda      gas    std        two   hatchback
22  1         101               honda      gas    std        two   hatchback
61  1         128               nissan     diesel std        two   sedan
118 0          91               toyota     diesel std        four  sedan
119 0          91               toyota     diesel std        four  hatchback
141 2         122               volkswagen diesel std        two   sedan
143 2          94               volkswagen diesel std        four  sedan
    wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
9   fwd    front           88.4       ⋯  61         2bbl        2.91 3.03
20  fwd    front           86.6       ⋯  92         1bbl        2.91 3.41
22  fwd    front           93.7       ⋯  79         1bbl        2.91 3.07
61  fwd    front           94.5       ⋯ 103         idi         2.99 3.47
118 fwd    front           95.7       ⋯ 110         idi         3.27 3.35
119 fwd    front           95.7       ⋯ 110         idi         3.27 3.35
141 fwd    front           97.3       ⋯  97         idi         3.01 3.40
143 fwd    front           97.3       ⋯  97         idi         3.01 3.40
    compression_ratio horsepower peak_rpm city_mpg highway_mpg price
9    9.5              48         5100     47       53          5151
20   9.6              58         4800     49       54          6479
22  10.1              60         5500     38       42          5399
61  21.9              55         4800     45       50          7099
118 22.5              56         4500     34       36          7898
119 22.5              56         4500     38       47          7788
141 23.0              52         4800     37       46          7775
143 23.0              52         4800     37       46          7995

In [75]:
subset(car, horsepower == 60)

   symboling normalized_losses maker fuel aspiration doors body      wheels
22 1         101               honda gas  std        two   hatchback fwd
   engine_location wheel_base ⋯ engine_size fuel_system bore stroke
22 front           93.7       ⋯ 79          1bbl        2.91 3.07
   compression_ratio horsepower peak_rpm city_mpg highway_mpg price
22 10.1              60         5500     38       42          5399

In [77]:
head(subset(car, body != 'sedan'))

   symboling normalized_losses maker     fuel aspiration doors body      wheels
9  2         121               chevrolet gas  std        two   hatchback fwd
10 1          98               chevrolet gas  std        two   hatchback fwd
12 1         118               dodge     gas  std        two   hatchback fwd
13 1         118               dodge     gas  std        two   hatchback fwd
14 1         118               dodge     gas  turbo      two   hatchback fwd
15 1         148               dodge     gas  std        four  hatchback fwd
   engine_location wheel_base ⋯ engine_size fuel_system bore stroke
9  front           88.4       ⋯ 61          2bbl        2.91 3.03
10 front           94.5       ⋯ 90          2bbl        3.03 3.11
12 front           93.7       ⋯ 90          2bbl        2.97 3.23
13 front           93.7       ⋯ 90          2bbl        2.97 3.23
14 front           93.7       ⋯ 98          mpfi        3.03 3.39
15 front           93.7       ⋯ 90          2bbl        2.97 3.23
   compression_ratio horsepower peak_rpm city_mpg highway_mpg price
9  9.50               48        5100     47       53          5151
10 9.60               70        5400     38       43          6295
12 9.41               68        5500     37       41          5572
13 9.40               68        5500     31       38          6377
14 7.60              102        5500     24       30          7957
15 9.40               68        5500     31       38          6229

#### 논리

- and

In [78]:
subset(car, horsepower > 100 & fuel == 'diesel')

    symboling normalized_losses maker         fuel   aspiration doors body
45  -1        93                mercedes-benz diesel turbo      four  sedan
46  -1        93                mercedes-benz diesel turbo      four  wagon
47   0        93                mercedes-benz diesel turbo      two   hardtop
48  -1        93                mercedes-benz diesel turbo      four  sedan
158 -1        95                volvo         diesel turbo      four  sedan
    wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
45  rwd    front           110.0      ⋯ 183         idi         3.58 3.64
46  rwd    front           110.0      ⋯ 183         idi         3.58 3.64
47  rwd    front           106.7      ⋯ 183         idi         3.58 3.64
48  rwd    front           115.6      ⋯ 183         idi         3.58 3.64
158 rwd    front           109.1      ⋯ 145         idi         3.01 3.40
    compression_ratio horsepower peak_rpm city_mpg highway_mpg price
45  21.5              123        4350     22       25          25552
46  21.5              123        4350     22       25          28248
47  21.5              123        4350     22       25          28176
48  21.5              123        4350     22       25          31600
158 23.0              106        4800     26       27          22470

 - or

In [80]:
head(subset(car, body == 'wagon' | wheels == '4wd'))

   symboling normalized_losses maker         fuel   aspiration doors body
2   2        164               audi          gas    std        four  sedan
18 -1        110               dodge         gas    std        four  wagon
26  0         78               honda         gas    std        four  wagon
46 -1         93               mercedes-benz diesel turbo      four  wagon
64  1        103               nissan        gas    std        four  wagon
68  1        103               nissan        gas    std        four  wagon
   wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
2  4wd    front            99.4      ⋯ 136         mpfi        3.19 3.40
18 fwd    front           103.3      ⋯ 122         2bbl        3.34 3.46
26 fwd    front            96.5      ⋯  92         1bbl        2.92 3.41
46 rwd    front           110.0      ⋯ 183         idi         3.58 3.64
64 fwd    front            94.5      ⋯  97         2bbl        3.15 3.29
68 fwd    front            94.5      ⋯  97         2bbl        3.15 3.29
   compression_ratio horsepower peak_rpm city_mpg highway_mpg price
2   8.0              115        5500     18       22          17450
18  8.5               88        5000     24       30           8921
26  9.2               76        6000     30       34           7295
46 21.5              123        4350     22       25          28248
64  9.4               69        5200     31       37           7349
68  9.4               69        5200     31       37           7999

 - not

In [81]:
head(subset(car, !(body == 'wagon' | wheels == '4wd')))

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
6 0         192               bmw   gas  std        four  sedan rwd
7 0         188               bmw   gas  std        two   sedan rwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front            99.8      ⋯ 109         mpfi        3.19 3.40
3 front           105.8      ⋯ 136         mpfi        3.19 3.40
4 front           105.8      ⋯ 131         mpfi        3.13 3.40
5 front           101.2      ⋯ 108         mpfi        3.50 2.80
6 front           101.2      ⋯ 108         mpfi        3.50 2.80
7 front           101.2      ⋯ 164         mpfi        3.31 3.19
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10.0              102        5500     24       30          13950
3  8.5              110        5500     19       25          17710
4  8.3              140        5500     17       20          23875
5  8.8              101        5800     23       29          16430
6  8.8              101        5800     23       29          16925
7  9.0              121        4250     21       28          20970

- 보론

In [82]:
dat = data.frame(num=c(36925,36941,12345), name=c('abc', 'def', 'abd'))
dat

  num   name
1 36925 abc
2 36941 def
3 12345 abd

In [83]:
subset(dat, num %/% 100 == 369) # 100으로 나눈 몫이 369인 경우

  num   name
1 36925 abc
2 36941 def

In [84]:
subset(dat, startsWith(as.character(name), 'ab')) # name의 시작이 ab인 경우

  num   name
1 36925 abc
3 12345 abd

In [85]:
subset(dat, endsWith(as.character(name), 'bc')) # name의 끝이 bc인경우

  num   name
1 36925 abc

#### 데이터 저장

In [86]:
wagon <- subset(car, body=='wagon')
head(wagon)

   symboling normalized_losses maker         fuel   aspiration doors body
18 -1        110               dodge         gas    std        four  wagon
26  0         78               honda         gas    std        four  wagon
46 -1         93               mercedes-benz diesel turbo      four  wagon
64  1        103               nissan        gas    std        four  wagon
68  1        103               nissan        gas    std        four  wagon
73  0        108               nissan        gas    std        four  wagon
   wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
18 fwd    front           103.3      ⋯ 122         2bbl        3.34 3.46
26 fwd    front            96.5      ⋯  92         1bbl        2.92 3.41
46 rwd    front           110.0      ⋯ 183         idi         3.58 3.64
64 fwd    front            94.5      ⋯  97         2bbl        3.15 3.29
68 fwd    front            94.5      ⋯  97         2bbl        3.15 3.29
73 fwd    front           100.4      ⋯ 181         mpfi        3.43 3.27
   compression_ratio horsepower peak_rpm city_mpg highway_mpg price
18  8.5               88        5000     24       30           8921
26  9.2               76        6000     30       34           7295
46 21.5              123        4350     22       25          28248
64  9.4               69        5200     31       37           7349
68  9.4               69        5200     31       37           7999
73  9.0              152        5200     17       22          14399

In [87]:
write.csv(wagon,'wagon.csv')

#### 클립보드에 복사

In [88]:
write.table(wagon,'clipboard',sep = '\t') # r_studio 에서 가능.

ERROR: Error in file(file, ifelse(append, "a", "w")): Unix에서 클립보드에 대한 'mode'는 반드시 'r'이어야 합니다

### Statistics

In [89]:
max(car$length)

[1] 202.6

In [90]:
min(car$length)

[1] 141.1

In [91]:
var(car$length)

[1] 132.7836

In [92]:
sd(car$length)

[1] 11.52318

 - Summary

In [94]:
summary(car$length) # 전체 변수에 대해서 다 보려면 $length를 없애면 된다.

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  141.1   165.7   172.4   172.4   177.8   202.6

### Handling data

#### NA
 - Not Available 
 - 결측치

In [95]:
is.na(NA)

[1] TRUE

#### 자주 쓰이는 데이터 다루기 관련 함수 
 - dim : size of dataframe
 - nrow : number of rows
 - ncol : number of columns
 - head : top 5 data of dataframe
 - names : name of columns
 - table : count of data, 명목데이터에 대해서 
 
#### 문자열 관련 함수
 - nchar : number of characters(length) 
 - substr : extract string 
 - paste : concate strings
 - grep : search string in data
 - grepl : match strings in lots data and get logical type
  - FALSE, TRUE

### dplyr
 - library in R, handling data and getting statistics information
 - 복잡한 필터링, 정렬, 변환, 통계를 손쉽게 할 수 있도록 도와주는 패키지 
 - filter()
 - slice()
 - arrange()
 - select()
 - rename()
 - distinct()
 - mutate()
 - transmute()
 - summarise() / summarize()

### Install Package

In [ ]:
install.packages('dplyr')

### Load Package

In [96]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### Load data

In [98]:
car <- read.csv('automobile.csv')
head(car)

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
2 2         164               audi  gas  std        four  sedan 4wd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
6 0         192               bmw   gas  std        four  sedan rwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front            99.8      ⋯ 109         mpfi        3.19 3.4
2 front            99.4      ⋯ 136         mpfi        3.19 3.4
3 front           105.8      ⋯ 136         mpfi        3.19 3.4
4 front           105.8      ⋯ 131         mpfi        3.13 3.4
5 front           101.2      ⋯ 108         mpfi        3.50 2.8
6 front           101.2      ⋯ 108         mpfi        3.50 2.8
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10.0              102        5500     24       30          13950
2  8.0              115        5500     18       22          17450
3  8.5              110        5500     19       25          17710
4  8.3              140        5500     17       20          23875
5  8.8              101        5800     23       29          16430
6  8.8              101        5800     23       29          16925

### Summarise

In [99]:
summarise(car, mean(length))

  mean(length)
1 172.4138

In [101]:
summarise(car, age=mean(length))

  age
1 172.4138

In [102]:
summarise(car, mean(length), mean(width))

  mean(length) mean(width)
1 172.4138     65.60755

In [104]:
summarise(car, mean_car = mean(price))

  mean_car
1 11445.73

### Chain ( %>% ) 
 - dplyr 패키지에서 정의된 연산자
 - 여러가지 작접들을 연결하는데 사용.
 - x %>% f() 형식으로 결과는 f(x) 와 동일하다.
 - x %>% f() %>% g() 결과: g(f(x))

In [105]:
car %>% summarise(mean(length))

  mean(length)
1 172.4138

### Filter

In [107]:
car %>% filter(body == 'sedan') %>% head()

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
2 2         164               audi  gas  std        four  sedan 4wd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
6 0         192               bmw   gas  std        four  sedan rwd
  engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 front            99.8      ⋯ 109         mpfi        3.19 3.4
2 front            99.4      ⋯ 136         mpfi        3.19 3.4
3 front           105.8      ⋯ 136         mpfi        3.19 3.4
4 front           105.8      ⋯ 131         mpfi        3.13 3.4
5 front           101.2      ⋯ 108         mpfi        3.50 2.8
6 front           101.2      ⋯ 108         mpfi        3.50 2.8
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 10.0              102        5500     24       30          13950
2  8.0              115        5500     18       22          17450
3  8.5              110        5500     19       25          17710
4  8.3              140        5500     17       20          23875
5  8.8              101        5800     23       29          16430
6  8.8              101        5800     23       29          16925

In [108]:
car %>% 
    filter(body=='sedan') %>% 
    summarise(mean(length))

  mean(length)
1 176.5456

In [110]:
car %>% 
    filter(body=='hatchback' & price > 10000) %>% 
    summarise(mean(engine_size))

  mean(engine_size)
1 147.6429

### Grouping

In [111]:
car %>% 
    group_by(fuel) %>%
    summarise(mean(city_mpg))

  fuel   mean(city_mpg)
1 diesel 30.40000
2 gas    26.11806

 - 출시 5년 미만인 자동차의 메이커 평균 구매 가격

In [113]:
car %>% filter(horsepower < 100)%>% 
    group_by(fuel) %>%
    summarise(mean(city_mpg))

  fuel   mean(city_mpg)
1 diesel 34.20000
2 gas    29.46512

### 컬럼더하기(mutate)

In [115]:
car %>% mutate(diff_mpg = highway_mpg - city_mpg) %>% head()

  symboling normalized_losses maker fuel aspiration doors body  wheels
1 2         164               audi  gas  std        four  sedan fwd
2 2         164               audi  gas  std        four  sedan 4wd
3 1         158               audi  gas  std        four  sedan fwd
4 1         158               audi  gas  turbo      four  sedan fwd
5 2         192               bmw   gas  std        two   sedan rwd
6 0         192               bmw   gas  std        four  sedan rwd
  engine_location wheel_base ⋯ fuel_system bore stroke compression_ratio
1 front            99.8      ⋯ mpfi        3.19 3.4    10.0
2 front            99.4      ⋯ mpfi        3.19 3.4     8.0
3 front           105.8      ⋯ mpfi        3.19 3.4     8.5
4 front           105.8      ⋯ mpfi        3.13 3.4     8.3
5 front           101.2      ⋯ mpfi        3.50 2.8     8.8
6 front           101.2      ⋯ mpfi        3.50 2.8     8.8
  horsepower peak_rpm city_mpg highway_mpg price diff_mpg
1 102        5500     24       30          13950 6
2 115        5500     18       22          17450 4
3 110        5500     19       25          17710 6
4 140        5500     17       20          23875 3
5 101        5800     23       29          16430 6
6 101        5800     23       29          16925 6

### 컬럼 선택

In [116]:
car %>% select(1) %>% head()

  symboling
1 2
2 2
3 1
4 1
5 2
6 0

### 행 선택

In [117]:
car %>% slice(1:10)

   symboling normalized_losses maker     fuel aspiration doors body      wheels
1  2         164               audi      gas  std        four  sedan     fwd
2  2         164               audi      gas  std        four  sedan     4wd
3  1         158               audi      gas  std        four  sedan     fwd
4  1         158               audi      gas  turbo      four  sedan     fwd
5  2         192               bmw       gas  std        two   sedan     rwd
6  0         192               bmw       gas  std        four  sedan     rwd
7  0         188               bmw       gas  std        two   sedan     rwd
8  0         188               bmw       gas  std        four  sedan     rwd
9  2         121               chevrolet gas  std        two   hatchback fwd
10 1          98               chevrolet gas  std        two   hatchback fwd
   engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1  front            99.8      ⋯ 109         mpfi        3.19 3.40
2  front            99.4      ⋯ 136         mpfi        3.19 3.40
3  front           105.8      ⋯ 136         mpfi        3.19 3.40
4  front           105.8      ⋯ 131         mpfi        3.13 3.40
5  front           101.2      ⋯ 108         mpfi        3.50 2.80
6  front           101.2      ⋯ 108         mpfi        3.50 2.80
7  front           101.2      ⋯ 164         mpfi        3.31 3.19
8  front           101.2      ⋯ 164         mpfi        3.31 3.19
9  front            88.4      ⋯  61         2bbl        2.91 3.03
10 front            94.5      ⋯  90         2bbl        3.03 3.11
   compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1  10.0              102        5500     24       30          13950
2   8.0              115        5500     18       22          17450
3   8.5              110        5500     19       25          17710
4   8.3              140        5500     17       20          23875
5   8.8              101        5800     23       29          16430
6   8.8              101        5800     23       29          16925
7   9.0              121        4250     21       28          20970
8   9.0              121        4250     21       28          21105
9   9.5               48        5100     47       53           5151
10  9.6               70        5400     38       43           6295

### 정렬

In [118]:
car %>% arrange(symboling) %>% head()

  symboling normalized_losses maker         fuel   aspiration doors body
1 -2        103               volvo         gas    std        four  sedan
2 -2        103               volvo         gas    std        four  sedan
3 -2        103               volvo         gas    turbo      four  sedan
4 -1        110               dodge         gas    std        four  wagon
5 -1         93               mercedes-benz diesel turbo      four  sedan
6 -1         93               mercedes-benz diesel turbo      four  wagon
  wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 rwd    front           104.3      ⋯ 141         mpfi        3.78 3.15
2 rwd    front           104.3      ⋯ 141         mpfi        3.78 3.15
3 rwd    front           104.3      ⋯ 130         mpfi        3.62 3.15
4 fwd    front           103.3      ⋯ 122         2bbl        3.34 3.46
5 rwd    front           110.0      ⋯ 183         idi         3.58 3.64
6 rwd    front           110.0      ⋯ 183         idi         3.58 3.64
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1  9.5              114        5400     23       28          12940
2  9.5              114        5400     24       28          15985
3  7.5              162        5100     17       22          18420
4  8.5               88        5000     24       30           8921
5 21.5              123        4350     22       25          25552
6 21.5              123        4350     22       25          28248

In [122]:
car %>% arrange(desc(symboling)) %>% head()

  symboling normalized_losses maker         fuel aspiration doors body
1 3         145               dodge         gas  turbo      two   hatchback
2 3         142               mercedes-benz gas  std        two   convertible
3 3         153               mitsubishi    gas  turbo      two   hatchback
4 3         153               mitsubishi    gas  std        two   hatchback
5 3         194               nissan        gas  std        two   hatchback
6 3         194               nissan        gas  turbo      two   hatchback
  wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 fwd    front           95.9       ⋯ 156         mfi         3.60 3.90
2 rwd    front           96.6       ⋯ 234         mpfi        3.46 3.10
3 fwd    front           96.3       ⋯ 110         spdi        3.17 3.46
4 fwd    front           96.3       ⋯ 122         2bbl        3.35 3.46
5 rwd    front           91.3       ⋯ 181         mpfi        3.43 3.27
6 rwd    front           91.3       ⋯ 181         mpfi        3.43 3.27
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1 7.0               145        5000     19       24          12964
2 8.3               155        4750     16       18          35056
3 7.5               116        5500     23       30           9959
4 8.5                88        5000     25       32           8499
5 9.0               160        5200     19       25          17199
6 7.8               200        5200     17       23          19699

### Join 
 - 두개의 데이터를 결합

In [123]:
x = data.frame(name = c('a','b','c'), v1 = 1:3)
y = data.frame(name = c('b', 'b', 'c', 'd'), v2 = 1:4)

In [124]:
x

  name v1
1 a    1
2 b    2
3 c    3

In [125]:
y

  name v2
1 b    1
2 b    2
3 c    3
4 d    4

In [126]:
left_join(x,y) # x의 데이터의 name(같은 이름의 컬럼) 기준으로 결합

Joining, by = "name"
Warning message:
“Column `name` joining factors with different levels, coercing to character vector”

  name v1 v2
1 a    1  NA
2 b    2   1
3 b    2   2
4 c    3   3

In [127]:
right_join(x,y) # y의 데이터의 기준으로.

Joining, by = "name"
Warning message:
“Column `name` joining factors with different levels, coercing to character vector”

  name v1 v2
1 b     2 1
2 b     2 2
3 c     3 3
4 d    NA 4

In [128]:
inner_join(x,y) # x,y 의 name에 동일한 값이 있는 것만

Joining, by = "name"
Warning message:
“Column `name` joining factors with different levels, coercing to character vector”

  name v1 v2
1 b    2  1
2 b    2  2
3 c    3  3

In [129]:
full_join(x,y) # 카디션 곱

Joining, by = "name"
Warning message:
“Column `name` joining factors with different levels, coercing to character vector”

  name v1 v2
1 a     1 NA
2 b     2  1
3 b     2  2
4 c     3  3
5 d    NA  4

In [130]:
semi_join(x,y)

Joining, by = "name"
Warning message:
“Column `name` joining factors with different levels, coercing to character vector”

  name v1
1 b    2
2 c    3

#### semi_join()
return all rows from x where there are matching values in y, keeping just columns from x.
A semi join differs from an inner join because an inner join will return one row of x for each matching row of y, where a semi join will never duplicate rows of x.

In [132]:
?semi_join