# Data loading, storage, and file formats

In [2]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

## Reading and Writing Data in Text Format

In [3]:
%pycat ch06/ex1.csv

In [4]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
#!cat ch06/ex2.csv

In [7]:
pd.read_csv('ch06/ex2.csv', header=None)
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
#!cat ch06/csv_mindex.csv
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [12]:
#!cat ch06/ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
#!cat ch06/ex5.csv
result = pd.read_csv('ch06/ex5.csv')
result
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [14]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading text files in pieces

In [21]:
result = pd.read_csv('ch06/ex6.csv')
result.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [17]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [18]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [19]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.order(ascending=False)

C:\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: order is deprecated, use sort_values(...)

In [22]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### Writing data out to text format

In [3]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
data.to_csv('ch06/out.csv')

In [5]:
%pycat ch06/out.csv

    ,something,a,b,c,d,message
    0,one,1,2,3.0,4,
    1,two,5,6,,8,world
    2,three,9,10,11.0,12,foo

In [6]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [7]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [8]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [9]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [10]:
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [11]:
ts = Series(np.arange(7), index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [13]:
ts.to_csv('ch06/tseries.csv')
ts.to_csv(sys.stdout)
#!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [14]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually working with delimited formats

In [15]:
%pycat ch06/ex7.csv

    "a","b","c"
    "1","2","3"
    "1","2","3","4"

In [21]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [22]:
for line in reader:
    print(type(line))
    print(line)

<class 'list'>
['a', 'b', 'c']
<class 'list'>
['1', '2', '3']
<class 'list'>
['1', '2', '3', '4']

In [23]:
lines = list(csv.reader(open('ch06/ex7.csv')))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [24]:
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [25]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [26]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [27]:
%pycat mydata.csv

    one;two;three
    1;2;3
    4;5;6
    7;8;9

### JSON data

In [28]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""
obj

'\n{"name": "Wes",\n "places_lived": ["United States", "Spain", "Germany"],\n "pet": null,\n "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},\n              {"name": "Katie", "age": 33, "pet": "Cisco"}]\n}\n'

In [29]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [32]:
type(result)

dict

In [30]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "pet": null, "places_lived": ["United States", "Spain", "Germany"], "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [31]:
type(asjson)

str

In [35]:
result['name']

'Wes'

In [34]:
result['siblings']

[{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
 {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]

In [33]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

### XML and HTML, Web scraping

**NB. The Yahoo! Finance API has changed and this example no longer works**

### 홈페이지 형태가 달라져 수행할 수 없는 코드

In [42]:
from lxml.html import parse
from urllib.request import urlopen # python3 pip install urllib3

In [70]:
parsed = parse(urlopen('http://finance.yahoo.com/quote/AAPL/options?ltr=1'))

doc = parsed.getroot()

In [71]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x9275b40>,
 <Element a at 0x9275b70>,
 <Element a at 0x9275ba0>,
 <Element a at 0x9275bd0>,
 <Element a at 0x9275c00>]

In [72]:
lnk = links[28]
lnk

In [73]:
lnk.get('href')

'/quote/NFLX?p=NFLX'

In [74]:
lnk.text_content()

'NFLX'

In [75]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['http://finance.yahoo.com/broker-comparison?bypass=true',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_MAIL_ML&locale=en_US&id=SLN2310&actp=productlink',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'http://twitter.com/YahooFinance',
 'http://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [77]:
doc.text_content

In [76]:
tables = doc.findall('.//table')
tables

In [67]:
calls = tables[0]

In [78]:
calls

In [69]:
puts = tables[1]

IndexError: list index out of range

In [79]:
rows = calls.findall('.//tr')

In [81]:
rows[0]

In [64]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [65]:
_unpack(rows[0], kind='th')
_unpack(rows[1], kind='td')

IndexError: list index out of range

In [ ]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [ ]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

#### Parsing XML with lxml.objectify

In [ ]:
%cd ch06/mta_perf/Performance_XML_Data

In [ ]:
!head -21 Performance_MNR.xml

In [83]:
from lxml import objectify

path = '/ch06/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

FileNotFoundError: [Errno 2] No such file or directory: '/ch06/mta_perf/Performance_MNR.xml'

In [ ]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
perf = DataFrame(data)
perf

In [ ]:
root

In [ ]:
root.get('href')

In [ ]:
root.text

## Binary data formats

In [ ]:
cd ../..

In [ ]:
frame = pd.read_csv('ch06/ex1.csv')
frame
frame.to_pickle('ch06/frame_pickle')

In [ ]:
pd.read_pickle('ch06/frame_pickle')

### Using HDF5 format

In [ ]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.close()
os.remove('mydata.h5')

### Interacting with HTML and Web APIs

In [90]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [92]:
import json

In [94]:
data = json.loads(resp.text)

In [95]:
data[:5]

[{'color': 'e10c02',
  'default': False,
  'id': 76811,
  'name': 'Bug',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug'},
 {'color': '4E9A06',
  'default': False,
  'id': 76812,
  'name': 'Enhancement',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement'},
 {'color': 'FCE94F',
  'default': False,
  'id': 127681,
  'name': 'Refactor',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor'},
 {'color': '75507B',
  'default': False,
  'id': 129350,
  'name': 'Build',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build'},
 {'color': '3465A4',
  'default': False,
  'id': 134699,
  'name': 'Docs',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'}]

In [98]:
issue_labels = DataFrame(data)
issue_labels.head()

,color,default,id,name,url
0,e10c02,False,76811,Bug,https://api.github.com/repos/pandas-dev/pandas...
1,4E9A06,False,76812,Enhancement,https://api.github.com/repos/pandas-dev/pandas...
2,FCE94F,False,127681,Refactor,https://api.github.com/repos/pandas-dev/pandas...
3,75507B,False,129350,Build,https://api.github.com/repos/pandas-dev/pandas...
4,3465A4,False,134699,Docs,https://api.github.com/repos/pandas-dev/pandas...

## Interacting with databases

In [84]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [85]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [86]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [87]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [88]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [89]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5