# 도수 분포표 만들기 
 - 명목형 변수 
  - #00. Basic R_1 에서 table과 xtabs를 배웠다.
 - 연속형 변수 
  - cut을 통해 구간을 나누어 도수분포표를 만든다.

## 연속형 변수 도수분포표 만들기 
### iris data 
 - iris 라는 식물의 잎의 크기, 식물의 크기, 종류 별로 포함되어있는 데이터

In [2]:
Iris <- iris
head(Iris,3)
str(Iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

### 맛보기 명목형 변수 도수 분포표

In [3]:
tmp <- table(Iris$Species)
tmp

    setosa versicolor  virginica
        50         50         50

### 구간 나누기

In [5]:
head(Iris$Sepal.Length,3) # 해당 데이터를 4개 구간으로 나눈다 
range(Iris$Sepal.Length)   
SepalLength <- cut(Iris$Sepal.Length,breaks=4,labels=c("1구간","2구간","3구간","4구간"))
SepalLength

[1] 5.1 4.9 4.7

[1] 4.3 7.9

  [1] 1구간 1구간 1구간 1구간 1구간 2구간 1구간 1구간 1구간 1구간 2구간 1구간
 [13] 1구간 1구간 2구간 2구간 2구간 1구간 2구간 1구간 2구간 1구간 1구간 1구간
 [25] 1구간 1구간 1구간 1구간 1구간 1구간 1구간 2구간 1구간 2구간 1구간 1구간
 [37] 2구간 1구간 1구간 1구간 1구간 1구간 1구간 1구간 1구간 1구간 1구간 1구간
 [49] 2구간 1구간 3구간 3구간 3구간 2구간 3구간 2구간 3구간 1구간 3구간 1구간
 [61] 1구간 2구간 2구간 2구간 2구간 3구간 2구간 2구간 3구간 2구간 2구간 2구간
 [73] 3구간 2구간 3구간 3구간 3구간 3구간 2구간 2구간 2구간 2구간 2구간 2구간
 [85] 2구간 2구간 3구간 3구간 2구간 2구간 2구간 2구간 2구간 1구간 2구간 2구간
 [97] 2구간 3구간 1구간 2구간 3구간 2구간 4구간 3구간 3구간 4구간 1구간 4구간
[109] 3구간 4구간 3구간 3구간 3구간 2구간 2구간 3구간 3구간 4구간 4구간 2구간
[121] 3구간 2구간 4구간 3구간 3구간 4구간 3구간 2구간 3구간 4구간 4구간 4구간
[133] 3구간 3구간 2구간 4구간 3구간 3구간 2구간 3구간 3구간 3구간 2구간 3구간
[145] 3구간 3구간 3구간 3구간 3구간 2구간
Levels: 1구간 2구간 3구간 4구간

NULL

In [6]:
FreqSepalL <- table(SepalLength)  # (4.3,5.2] (5.2,6.1]   (6.1,7]   (7,7.9] 에서 ()는 미포함 X, []는 포함.
FreqSepalL

SepalLength
1구간 2구간 3구간 4구간
   45    50    43    12

In [7]:
FreqSepalL <- rbind(FreqSepalL,prop.table(FreqSepalL)) #상대도수 추가.
FreqSepalL

           1구간      2구간      3구간 4구간
FreqSepalL  45.0 50.0000000 43.0000000 12.00
             0.3  0.3333333  0.2866667  0.08

In [8]:
rownames(FreqSepalL)[2] <- "ReleativeReq"

In [9]:
comsum <- cumsum(FreqSepalL[2,])  # 누적상대도수
comsum

    1구간     2구간     3구간     4구간
0.3000000 0.6333333 0.9200000 1.0000000

In [38]:
FreqSepalL <- rbind(FreqSepalL,comsum) 
FreqSepalL

             (4.3,5.2]  (5.2,6.1]    (6.1,7] (7,7.9]
FreqSepalL        45.0 50.0000000 43.0000000   12.00
ReleativeReq       0.3  0.3333333  0.2866667    0.08
comsum             0.3  0.6333333  0.9200000    1.00

In [39]:
rownames(FreqSepalL) <- c("도수","상대도수","누적상대도수")
FreqSepalL <- addmargins(FreqSepalL)
FreqSepalL

             (4.3,5.2]  (5.2,6.1]    (6.1,7] (7,7.9]        Sum
도수              45.0 50.0000000 43.0000000   12.00 150.000000
상대도수           0.3  0.3333333  0.2866667    0.08   1.000000
누적상대도수       0.3  0.6333333  0.9200000    1.00   2.853333
Sum               45.6 50.9666667 44.2066667   13.08 153.853333

# Apply 종류.
 - apply
 - sapply
 - lapply
 - tapply
 - mapply

### Apply
 - 벡터에 일괄적으로 Function을 적용 하는 방법
 - Row별로 할것인지 Column 별로 할 것인지는 지정 가능,
 - apply(Data,margin=1/2,FUN=function) 
  - 1 : Row
  - 2 : Column
  - FUN = Function

In [2]:
MyMatrix=matrix(1:12,nrow=3,ncol=4,byrow=FALSE)
MyMatrix
str(MyMatrix)

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

 int [1:3, 1:4] 1 2 3 4 5 6 7 8 9 10 ...

In [4]:
sum(MyMatrix[1,])
sum(MyMatrix[2,])
sum(MyMatrix[3,])

[1] 22

[1] 26

[1] 30

In [6]:
apply(X = MyMatrix,MARGIN = 1,FUN = sum)     #apply(데이터, Margin 1:로우 2:컬럼 3 FUN =  함수)
apply(X = MyMatrix,MARGIN = 2,FUN = sum)

[1] 22 26 30

[1]  6 15 24 33

In [10]:
str(iris)  # 데이터 요약이 아니라 형태를 보여주는것이다. 150 데이터 5개 컬럼.
head(iris,3)
##tail(iris)
table(iris$Species)   #컬럼 별 몇개의 오브젝트가 존재하는지 알 수 있다. 질문할 것 factor/table은 factor를 구하는것인지.
table(iris[,5])

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa

    setosa versicolor  virginica
        50         50         50

    setosa versicolor  virginica
        50         50         50

In [11]:
iris_setosa = iris[iris$Species == 'setosa',]
iris_versicolor = iris[iris$Species == 'versicolor',]
iris_virginica = iris[iris$Species == 'virginica',]

In [13]:
apply(iris_setosa[,-5],2,mean)   # factor 를 제외한 부분.
# data 부분을 지정하여 사용가능.

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246

In [12]:
list = list(a=c(1,2,3,4,5),b = c(2,3,5,6), c=c(10,20,30,40))
list
#apply(list,2,sum)   # list는 사용 불가. 
lapply(list,sum)

$a
[1] 1 2 3 4 5

$b
[1] 2 3 5 6

$c
[1] 10 20 30 40

$a
[1] 15

$b
[1] 16

$c
[1] 100

### lapply
 - 벡터에 일괄적으로 FUN을 적용 후 list 반환
 - data에 list, DataFrame 가능. 
  - list가 들어온다면 리스트 변수 별로 
  - DataFrame이 들어온다면 열 별로 ( 열 = 같은 속성을 가진 데이터의 집합 )

In [20]:
Mylist = list(a=1:5,b=6:10)
Mylist
result = lapply(X = Mylist,FUN = mean)
result

$a
[1] 1 2 3 4 5

$b
[1]  6  7  8  9 10

$a
[1] 3

$b
[1] 8

### unlist
 - list 형태의 데이터를 Vector 형태로 변환 
 - 다시 사용하기 위해서는 Matrix 또는 DF로 변환이 필요하다.

In [16]:
head(iris_setosa,3)
result_1 = lapply(iris_setosa[,-5],mean)
result_1
str(result_1)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa

$Sepal.Length
[1] 5.006

$Sepal.Width
[1] 3.428

$Petal.Length
[1] 1.462

$Petal.Width
[1] 0.246

List of 4
 $ Sepal.Length: num 5.01
 $ Sepal.Width : num 3.43
 $ Petal.Length: num 1.46
 $ Petal.Width : num 0.246

In [14]:
result_1 = unlist(result_1)   #produce a vector which contains all the atomic components which occur in x.
str(result_1)
result_1
result_1 = as.matrix(result_1)
result_1
class(result_1)

 Named num [1:4] 5.006 3.428 1.462 0.246
 - attr(*, "names")= chr [1:4] "Sepal.Length" "Sepal.Width" "Petal.Length" "Petal.Width"

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246

              [,1]
Sepal.Length 5.006
Sepal.Width  3.428
Petal.Length 1.462
Petal.Width  0.246

[1] "matrix"

In [32]:
result_1 = data.frame(result_1)
result_1
colnames(result_1) = c("Mean")
str(result_1)

              Mean
Sepal.Length 5.006
Sepal.Width  3.428
Petal.Length 1.462
Petal.Width  0.246

'data.frame':	4 obs. of  1 variable:
 $ Mean: num  5.006 3.428 1.462 0.246

### sapply 
 - 벡터에 일괄적으로 FUN을 적용 후 벡터로 반환(lapply와 유사) 
 - Return Type is Vector

In [35]:
result_3 = sapply(X = iris_setosa[,1:4],FUN = mean)            #한번에 vector화 시킨것.
result_3
class(result_3)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246

[1] "numeric"

In [37]:
as.data.frame(result_3)
as.data.frame(t(result_3))          #전치행렬. t()

             result_3
Sepal.Length    5.006
Sepal.Width     3.428
Petal.Length    1.462
Petal.Width     0.246

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1        5.006       3.428        1.462       0.246

### tapply
 - 그룹별 함수를 적용하기 위한 apply함수
 - tapply, sapply 가 중요한 함수 
 - tapply(종속변수, 독립변수, 적용함수) => 독립변수들의 종속변수를 적용함수 시킨다.

In [21]:
tapply(iris$Sepal.Length,iris$Species,mean)   # (1,2,3)   1번을 가지고 2번 별로 3번을 한다.

    setosa versicolor  virginica
     5.006      5.936      6.588

In [41]:
tapply(iris$Sepal.Length,iris$Species == 'setosa',mean)

FALSE  TRUE
6.262 5.006

In [42]:
tapply(iris$Sepal.Length,iris$Species != 'setosa',mean)

FALSE  TRUE
5.006 6.262