# Descriptive Statistics ( 기술 통계 ) 예제
 - 해당 내용은 알까기 2를 참조 하였습니다.

In [12]:
DF <- read.csv("data/example_salary.csv",stringsAsFactors = T,na ="-") # na is "-"
head(DF,3)
summary(DF)
colnames(DF) <- c("age","salary","specialSalary","workingTime","numberOfWorker","career","sex")

   연령 월급여액..원. 연간특별급여액..원. 근로시간..시간. 근로자수..명.
1   -19       1346534              151840           169.5         15042
2 20-24       1584214              115375           180.1         74251
3 25-29       1922043              268058           178.0        143338
  경력구분 성별
1  1년미만   남
2  1년미만   남
3  1년미만   남

      연령    월급여액..원.     연간특별급여액..원. 근로시간..시간.
 -19    :10   Min.   :1117605   Min.   :   10667    Min.   :148.0
 20-24  :10   1st Qu.:1689658   1st Qu.:  743343    1st Qu.:170.0
 25-29  :10   Median :2120345   Median : 2395252    Median :178.1
 30-34  :10   Mean   :2171578   Mean   : 3258394    Mean   :177.8
 35-39  :10   3rd Qu.:2519221   3rd Qu.: 5167805    3rd Qu.:183.9
 40-44  :10   Max.   :4064286   Max.   :13252036    Max.   :226.0
 (Other):40   NA's   :2         NA's   :3           NA's   :2
 근로자수..명.          경력구분  성별
 Min.   :    12   1~3년미만 :20   남:50
 1st Qu.: 32572   10년이상  :20   여:50
 Median : 60158   1년미만   :20
 Mean   : 88612   3~5년미만 :20
 3rd Qu.:100779   5~10년미만:20
 Max.   :533852
 NA's   :2

In [13]:
str(DF)

'data.frame':	100 obs. of  7 variables:
 $ age           : Factor w/ 10 levels "-19","20-24",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ salary        : num  1346534 1584214 1922043 2130988 2414345 ...
 $ specialSalary : num  151840 115375 268058 335710 352816 ...
 $ workingTime   : num  170 180 178 181 181 ...
 $ numberOfWorker: num  15042 74251 143338 103585 65385 ...
 $ career        : Factor w/ 5 levels "1~3년미만","10년이상",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ sex           : Factor w/ 2 levels "남","여": 1 1 1 1 1 1 1 1 1 1 ...

In [16]:
Mean <- mean(DF$salary,na.rm=T)
Mean

[1] 2171578

In [19]:
Mid <- median(DF$salary,na.rm=T)
Mid
Range <- range(DF$salary,na.rm=T)
Range

[1] 2120345

[1] 1117605 4064286

In [21]:
w <- which(DF$salary==4064286)
DF[w,]

     age  salary specialSalary workingTime numberOfWorker   career sex
48 50-54 4064286      12716896       178.2         439450 10년이상  남

In [25]:
Qnt <- quantile(DF$salary,na.rm=T)
Qnt

     0%     25%     50%     75%    100%
1117605 1689658 2120345 2519221 4064286

In [28]:
SelfSummary <- function(x){
  Mean <- mean(x,na.rm=T)
  Mid <- median(x,na.rm=T)
  Range <- range(x,na.rm=T)
  Qnt <- quantile(x,na.rm=T)
  Result <- list(평균월급=Mean,중앙값월급=Mid,월급번위=Range, 월급사분위 = Qnt)
  return(Result)
}

Result <- SelfSummary(DF$salary)
Result

$평균월급
[1] 2171578

$중앙값월급
[1] 2120345

$월급번위
[1] 1117605 4064286

$월급사분위
     0%     25%     50%     75%    100%
1117605 1689658 2120345 2519221 4064286