# StudentAlcohol
 - 결론 : 당연한 결과가 나온 것 같음.
  - 집과 학교가 거리가 멀고, 친구들과 밖으로 자주 놀러 나가는 남자 아이가 술을 먹을 확률이 높다. 
  - 주중에 먹는애가 주말에 먹고, 주말에 먹는 아이가 주중에 먹을 확률 또한 높다. (당연한 소리)
  - 결석을 자주하는 아이 또한 가능성은 있지만 높은 편은 아니다.

## Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets: 
 - school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira) 
 - sex - student's sex (binary: 'F' - female or 'M' - male) 
 - age - student's age (numeric: from 15 to 22) 
 - address - student's home address type (binary: 'U' - urban or 'R' - rural) 
 - famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3) 
 - Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart) 
 - Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 Ã¢â‚¬â€œ 5th to 9th grade, 3 Ã¢â‚¬â€œ secondary education or 4 Ã¢â‚¬â€œ higher education) 
 - Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 Ã¢â‚¬â€œ 5th to 9th grade, 3 Ã¢â‚¬â€œ secondary education or 4 Ã¢â‚¬â€œ higher education) 
 - Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other') 
 - Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other') 
 - reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other') 
 - guardian - student's guardian (nominal: 'mother', 'father' or 'other') 
 - traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour) 
 - studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours) 
 - failures - number of past class failures (numeric: n if 1<=n<3, else 4) 
 - schoolsup - extra educational support (binary: yes or no) 
 - famsup - family educational support (binary: yes or no) 
 - paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no) 
 - activities - extra-curricular activities (binary: yes or no) 
 - nursery - attended nursery school (binary: yes or no) 
 - higher - wants to take higher education (binary: yes or no) 
 - internet - Internet access at home (binary: yes or no) 
 - romantic - with a romantic relationship (binary: yes or no) 
 - famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent) 
 - freetime - free time after school (numeric: from 1 - very low to 5 - very high) 
 - goout - going out with friends (numeric: from 1 - very low to 5 - very high) 
 - Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high) 
 - Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high) 
 - health - current health status (numeric: from 1 - very bad to 5 - very good) 
 - absences - number of school absences (numeric: from 0 to 93) 

## these grades are related with the course subject, Math or Portuguese: 
 - G1 - first period grade (numeric: from 0 to 20) 
 - G2 - second period grade (numeric: from 0 to 20) 
 - G3 - final grade (numeric: from 0 to 20, output target)

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt

In [2]:
df1 = pd.read_csv("data/student-mat.csv") # 수학
df2 = pd.read_csv("data/student-por.csv") # 포르투칼어

In [3]:
df1['class'] = 'math'
df2['class'] = 'por'

In [4]:
df = df1.append(df2)

In [8]:
df.T.iloc[:,1:5]

                  1        2         3       4
school           GP       GP        GP      GP
sex               F        F         F       F
age              17       15        15      16
address           U        U         U       U
famsize         GT3      LE3       GT3     GT3
Pstatus           T        T         T       T
Medu              1        1         4       3
Fedu              1        1         2       3
Mjob        at_home  at_home    health   other
Fjob          other    other  services   other
reason       course    other      home    home
guardian     father   mother    mother  father
traveltime        1        1         1       1
studytime         2        2         3       2
failures          0        3         0       0
schoolsup        no      yes        no      no
famsup          yes       no       yes     yes
paid             no      yes       yes     yes
activities       no       no       yes      no
nursery          no      yes       yes     yes
higher          yes      yes       yes     yes
internet        yes      yes       yes      no
romantic         no       no       yes      no
famrel            5        4         3       4
freetime          3        3         2       3
goout             3        2         2       2
Dalc              1        2         1       1
Walc              1        3         1       2
health            3        3         5       5
absences          4       10         2       4
G1                5        7        15       6
G2                5        8        14      10
G3                6       10        15      10
class          math     math      math    math