# SQLite 
 - SQLite는 Oracle이나 PostgreSQL과 같은 큰 규모의 DBMS와 달리 서버 설치와 설정 면에서 ‘Lite’한 DBMS

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [6]:
con = sqlite3.connect("c:/Users/byung/kospi.db")
type(con)

sqlite3.Connection

 - SQL 구문을 호출하라면 Cursor 객체가 필요

In [9]:
cursor = con.cursor()

 - DB구조 
![db구조](stock/7.PNG)

In [10]:
cursor.execute("CREATE TABLE kakao(Date text, Open int, High int, Low int, Closing int, Volumn int)")

In [11]:
cursor.execute("INSERT INTO kakao VALUES('16.06.03', 97000, 98600, 96900, 98000, 321405)")

In [12]:
cursor.execute("INSERT INTO kakao VALUES('16.06.02', 99000, 99300, 96300, 97500, 556790)")

In [13]:
con.commit()
con.close()

# 2. DataBase Browser 
 - http://sqlitebrowser.org/

# 3. Data Read from the database

In [15]:
con = sqlite3.connect("c:/Users/byung/kospi.db")
cursor = con.cursor()

In [17]:
cursor.execute("SELECT * FROM kakao")
cursor.fetchone()

('16.06.03', 97000, 98600, 96900, 98000, 321405)

In [20]:
cursor.execute("SELECT * FROM kakao")
cursor.fetchall()

[('16.06.03', 97000, 98600, 96900, 98000, 321405),
 ('16.06.02', 99000, 99300, 96300, 97500, 556790)]

In [21]:
cursor.execute("SELECT * FROM kakao")
kakao = cursor.fetchall()

In [23]:
kakao[0][0]

'16.06.03'

## 1) Pandas and SqLite

In [24]:
import pandas as pd
from pandas import Series, DataFrame

In [26]:
raw_data = {'col0': [1, 2, 3, 4], 'col1': [10, 20, 30, 40], 'col2':[100, 200, 300, 400]}
df = DataFrame(raw_data)

In [27]:
df

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

### [1] DF to SQLite

In [28]:
df.to_sql('test',con)
# df.to_sql('test', con, chunksize=1000) # size를 제한 둘 수 있다.

![dbsql](stock/8.PNG)

### [2] SQLite to DF

In [29]:
df = pd.read_sql("SELECT * FROM kakao", con, index_col=None)
df

       Date   Open   High    Low  Closing  Volumn
0  16.06.03  97000  98600  96900    98000  321405
1  16.06.02  99000  99300  96300    97500  556790

In [30]:
df = pd.read_sql("SELECT * FROM test", con, index_col='index')
df

       col0  col1  col2
index
0         1    10   100
1         2    20   200
2         3    30   300
3         4    40   400