# Final Test (Classification)

## 데이터 불러오기

In [33]:
import pandas as pd

In [34]:
train = pd.read_csv('train.csv')

In [35]:
train.head()

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,under50k
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,under50k
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,under50k
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,under50k
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,under50k

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 12 columns):
age               24999 non-null int64
workclass         24999 non-null object
education         24999 non-null int64
marital           24999 non-null object
occupation        24999 non-null object
relationship      24999 non-null object
race              24999 non-null object
sex               24999 non-null object
capital_gain      24999 non-null int64
capital_loss      24999 non-null int64
hours_per_week    24999 non-null int64
income            24999 non-null object
dtypes: int64(5), object(7)
memory usage: 2.3+ MB

## 독립변수

In [37]:
train.columns

Index(['age', 'workclass', 'education', 'marital', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [38]:
indep = train.columns[:-1]

In [39]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [40]:
discrete

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex']

In [41]:
continuous

['age', 'education', 'capital_gain', 'capital_loss', 'hours_per_week']

In [42]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [43]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,50,13,0,0,13,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,38,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,53,7,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,28,13,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [44]:
dummy.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_Divorced,marital_Married-AF-spouse,marital_Married-civ-spouse,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## 종속변수

In [45]:
dep = train.columns[-1]
y = train[dep]

In [46]:
y.head()

0    under50k
1    under50k
2    under50k
3    under50k
4    under50k
Name: income, dtype: object

## 변수 형태에 따른 데이터 분할

#### 범주형

In [47]:
train[discrete].head()

,workclass,marital,occupation,relationship,race,sex
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female

In [48]:
discrete_X = train[discrete]

In [49]:
train[continuous].head()

   age  education  capital_gain  capital_loss  hours_per_week
0   39         13          2174             0              40
1   50         13             0             0              13
2   38          9             0             0              40
3   53          7             0             0              40
4   28         13             0             0              40

In [50]:
continuous_X = train[continuous]

## 데이터 분할

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

## Import library

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
from sklearn import metrics

### 기준점 Lasso (교수님)
    [[ 376  253]
     [ 125 1746]]
    accuracy: 0.8488
    precision: 0.750499001996
    recall: 0.597774244833
    f1: 0.665486725664

### Get_Result(y_test, y_pred)

In [55]:
def getResult(y_test,y_pred):
    #print(metrics.confusion_matrix(y_test, y_pred))
    #print('accurracy:', metrics.accuracy_score(y_test, y_pred))
    #print('precision:', metrics.precision_score(y_test, y_pred, pos_label='over50k'))
    #print('recall:', metrics.recall_score(y_test, y_pred, pos_label='over50k'))
    #print('f1:', metrics.f1_score(y_test, y_pred, pos_label='over50k'))
    return metrics.f1_score(y_test, y_pred, pos_label='over50k')

## Logistic Regression : ridge

 - 전체 버젼

In [56]:
def logi(x,y):
    LR = LogisticRegression(penalty=x,C=y)
    LR.fit(X_train,y_train)
    y_ridge = LR.predict(X_test)
    return LR,getResult(y_test,y_ridge)

        10 l1
        [[ 380  249]
         [ 129 1742]]
        accurracy: 0.8488
        precision: 0.746561886051
        recall: 0.60413354531
        f1: 0.66783831283

In [57]:
result = []

In [58]:
penal = ['l1','l2']
for i in range(10,100,5):
    for j in penal:
        result.append(logi(j,i))

# Decision Tree
## Random Forest (랜덤포레스트)

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
def randomLoop(x):
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(X_train,y_train)
    y_rf = rf.predict(X_test)
    
    return rf,getResult(y_test,y_rf)

In [61]:
for i in range(100,1000,100):
    result.append(randomLoop(i))

## ExtraTreesClassifier

In [62]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
def ExtraLoop(x):
    print(x)
    clf = ExtraTreesClassifier(n_estimators=x, max_depth=None,min_samples_split=2, random_state=0)
    clf.fit(X_train,y_train)
    y_clf = clf.predict(X_test)
    return y_clf,getResult(y_test,y_clf)

In [ ]:
for i in range(500,2000,100):
    result.append(ExtraLoop(i))

500
600
700
800
900

## Gradient Boosting Tree

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
def gbt(x):
    gb = GradientBoostingClassifier(n_estimators=x)
    gb.fit(X_train,y_train)
    y_gb = gb.predict(X_test)
    return gb,getResult(y_test,y_gb)

In [ ]:
for i in range(500,2000,100):
    result.append(gbt(i))

## SVM

In [ ]:
from sklearn.svm import SVC

In [ ]:
def run_model(kernel,penalty,cache):
    model = SVC(kernel=kernel, C=penalty,cache_size=cache)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return model,getResult(y_test,y_pred)

In [ ]:
for i in range(1,10):
    result.append(run_model('rbf',i,1000))

In [ ]:
result = pd.DataFrame(result)

In [ ]:
result.sort_values([1],ascending=False)

# 제출용 예측

In [ ]:
test = pd.read_csv('test.csv')  # 제출용 데이터를 불러온다

In [ ]:
test.iloc[:10,:]

In [72]:
dummy_final = pd.get_dummies(test[discrete])  # train과 동일하게 이산변수를 더미코딩한다
X_final = pd.concat([test[continuous], dummy_final], axis=1)  # 이산변수와 연속변수를 합쳐 예측용 데이터를 만든다

### SVC 모델

In [75]:
model = SVC(kernel='rbf', C=6,cache_size=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
getResult(y_test,y_pred)

0.695575221238938

In [77]:
y_final = model.predict(X_final)

# 제출용 예측 저장

In [74]:
import numpy

In [79]:
numpy.savetxt('final.csv', y_final, fmt='%s')  # 제출용 데이터를 저장한다