# Final Test (Classification)

## 데이터 불러오기

In [33]:
import pandas as pd

In [34]:
train = pd.read_csv('train.csv')

In [35]:
train.head()

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,under50k
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,under50k
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,under50k
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,under50k
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,under50k

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 12 columns):
age               24999 non-null int64
workclass         24999 non-null object
education         24999 non-null int64
marital           24999 non-null object
occupation        24999 non-null object
relationship      24999 non-null object
race              24999 non-null object
sex               24999 non-null object
capital_gain      24999 non-null int64
capital_loss      24999 non-null int64
hours_per_week    24999 non-null int64
income            24999 non-null object
dtypes: int64(5), object(7)
memory usage: 2.3+ MB

## 독립변수

In [37]:
train.columns

Index(['age', 'workclass', 'education', 'marital', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [38]:
indep = train.columns[:-1]

In [39]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [40]:
discrete

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex']

In [41]:
continuous

['age', 'education', 'capital_gain', 'capital_loss', 'hours_per_week']

In [42]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [43]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,50,13,0,0,13,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,38,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,53,7,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,28,13,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [44]:
dummy.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_Divorced,marital_Married-AF-spouse,marital_Married-civ-spouse,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## 종속변수

In [45]:
dep = train.columns[-1]
y = train[dep]

In [46]:
y.head()

0    under50k
1    under50k
2    under50k
3    under50k
4    under50k
Name: income, dtype: object

## 변수 형태에 따른 데이터 분할

#### 범주형

In [47]:
train[discrete].head()

,workclass,marital,occupation,relationship,race,sex
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female

In [48]:
discrete_X = train[discrete]

In [49]:
train[continuous].head()

   age  education  capital_gain  capital_loss  hours_per_week
0   39         13          2174             0              40
1   50         13             0             0              13
2   38          9             0             0              40
3   53          7             0             0              40
4   28         13             0             0              40

In [50]:
continuous_X = train[continuous]

## 데이터 분할

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

## Import library

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
from sklearn import metrics

### 기준점 Lasso (교수님)
    [[ 376  253]
     [ 125 1746]]
    accuracy: 0.8488
    precision: 0.750499001996
    recall: 0.597774244833
    f1: 0.665486725664

### Get_Result(y_test, y_pred)

In [55]:
def getResult(y_test,y_pred):
    #print(metrics.confusion_matrix(y_test, y_pred))
    #print('accurracy:', metrics.accuracy_score(y_test, y_pred))
    #print('precision:', metrics.precision_score(y_test, y_pred, pos_label='over50k'))
    #print('recall:', metrics.recall_score(y_test, y_pred, pos_label='over50k'))
    #print('f1:', metrics.f1_score(y_test, y_pred, pos_label='over50k'))
    return metrics.f1_score(y_test, y_pred, pos_label='over50k')

## Logistic Regression : ridge

 - 전체 버젼

In [56]:
def logi(x,y):
    LR = LogisticRegression(penalty=x,C=y)
    LR.fit(X_train,y_train)
    y_ridge = LR.predict(X_test)
    return LR,getResult(y_test,y_ridge)

        10 l1
        [[ 380  249]
         [ 129 1742]]
        accurracy: 0.8488
        precision: 0.746561886051
        recall: 0.60413354531
        f1: 0.66783831283

In [57]:
result = []

In [58]:
penal = ['l1','l2']
for i in range(10,100,5):
    for j in penal:
        result.append(logi(j,i))

# Decision Tree
## Random Forest (랜덤포레스트)

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
def randomLoop(x):
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(X_train,y_train)
    y_rf = rf.predict(X_test)
    
    return rf,getResult(y_test,y_rf)

In [61]:
for i in range(100,1000,100):
    result.append(randomLoop(i))

## ExtraTreesClassifier

In [62]:
from sklearn.ensemble import ExtraTreesClassifier

In [63]:
def ExtraLoop(x):
    print(x)
    clf = ExtraTreesClassifier(n_estimators=x, max_depth=None,min_samples_split=2, random_state=0)
    clf.fit(X_train,y_train)
    y_clf = clf.predict(X_test)
    return y_clf,getResult(y_test,y_clf)

In [64]:
for i in range(500,2000,100):
    result.append(ExtraLoop(i))

500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900

## Gradient Boosting Tree

In [65]:
from sklearn.ensemble import GradientBoostingClassifier

In [66]:
def gbt(x):
    gb = GradientBoostingClassifier(n_estimators=x)
    gb.fit(X_train,y_train)
    y_gb = gb.predict(X_test)
    return gb,getResult(y_test,y_gb)

In [67]:
for i in range(500,2000,100):
    result.append(gbt(i))

## SVM

In [68]:
from sklearn.svm import SVC

In [69]:
def run_model(kernel,penalty,cache):
    model = SVC(kernel=kernel, C=penalty,cache_size=cache)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return model,getResult(y_test,y_pred)

In [70]:
for i in range(1,10):
    result.append(run_model('rbf',i,1000))

In [71]:
result = pd.DataFrame(result)

In [78]:
result = result.sort_values([1],ascending=False)

# 제출용 예측

In [73]:
test = pd.read_csv('test.csv')  # 제출용 데이터를 불러온다

In [74]:
test.iloc[:10,:]

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week
0,38,Private,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40
1,34,Local-gov,11,Divorced,Protective-serv,Own-child,Asian-Pac-Islander,Male,0,0,40
2,51,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50
3,48,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42
4,63,Private,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50
5,19,Private,9,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40
6,73,Private,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,20051,0,36
7,51,Private,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,43
8,54,Private,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40
9,41,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1848,40

In [75]:
dummy_final = pd.get_dummies(test[discrete])  # train과 동일하게 이산변수를 더미코딩한다
X_final = pd.concat([test[continuous], dummy_final], axis=1)  # 이산변수와 연속변수를 합쳐 예측용 데이터를 만든다

## DecisionTreeRegressor

In [80]:
result

                                                    0         1
69  ([DecisionTreeRegressor(criterion='friedman_ms...  0.719658
63  ([DecisionTreeRegressor(criterion='friedman_ms...  0.719044
70  ([DecisionTreeRegressor(criterion='friedman_ms...  0.718430
66  ([DecisionTreeRegressor(criterion='friedman_ms...  0.717949
65  ([DecisionTreeRegressor(criterion='friedman_ms...  0.717949
72  ([DecisionTreeRegressor(criterion='friedman_ms...  0.717336
67  ([DecisionTreeRegressor(criterion='friedman_ms...  0.716852
71  ([DecisionTreeRegressor(criterion='friedman_ms...  0.716724
68  ([DecisionTreeRegressor(criterion='friedman_ms...  0.716367
64  ([DecisionTreeRegressor(criterion='friedman_ms...  0.716239
60  ([DecisionTreeRegressor(criterion='friedman_ms...  0.714286
61  ([DecisionTreeRegressor(criterion='friedman_ms...  0.714163
73  ([DecisionTreeRegressor(criterion='friedman_ms...  0.712821
62  ([DecisionTreeRegressor(criterion='friedman_ms...  0.712069
74  ([DecisionTreeRegressor(criterion='friedman_ms...  0.711719
80  SVC(C=6, cache_size=1000, class_weight=None, c...  0.695575
83  SVC(C=9, cache_size=1000, class_weight=None, c...  0.694128
82  SVC(C=8, cache_size=1000, class_weight=None, c...  0.692982
81  SVC(C=7, cache_size=1000, class_weight=None, c...  0.692511
79  SVC(C=5, cache_size=1000, class_weight=None, c...  0.691689
78  SVC(C=4, cache_size=1000, class_weight=None, c...  0.683499
77  SVC(C=3, cache_size=1000, class_weight=None, c...  0.681901
43  (DecisionTreeClassifier(class_weight=None, cri...  0.675722
44  (DecisionTreeClassifier(class_weight=None, cri...  0.672326
39  (DecisionTreeClassifier(class_weight=None, cri...  0.671730
36  (DecisionTreeClassifier(class_weight=None, cri...  0.671164
42  (DecisionTreeClassifier(class_weight=None, cri...  0.670077
41  (DecisionTreeClassifier(class_weight=None, cri...  0.669492
38  (DecisionTreeClassifier(class_weight=None, cri...  0.669484
37  (DecisionTreeClassifier(class_weight=None, cri...  0.669477
..                                                ...       ...
7   LogisticRegression(C=25, class_weight=None, du...  0.665490
19  LogisticRegression(C=55, class_weight=None, du...  0.664894
5   LogisticRegression(C=20, class_weight=None, du...  0.664894
1   LogisticRegression(C=10, class_weight=None, du...  0.664894
3   LogisticRegression(C=15, class_weight=None, du...  0.663709
11  LogisticRegression(C=35, class_weight=None, du...  0.663709
9   LogisticRegression(C=30, class_weight=None, du...  0.663709
21  LogisticRegression(C=60, class_weight=None, du...  0.663709
27  LogisticRegression(C=75, class_weight=None, du...  0.663121
23  LogisticRegression(C=65, class_weight=None, du...  0.661947
33  LogisticRegression(C=90, class_weight=None, du...  0.659574
13  LogisticRegression(C=40, class_weight=None, du...  0.658407
31  LogisticRegression(C=85, class_weight=None, du...  0.658385
76  SVC(C=2, cache_size=1000, class_weight=None, c...  0.657330
46  [under50k, under50k, under50k, under50k, under...  0.654067
49  [under50k, under50k, under50k, under50k, under...  0.654067
52  [under50k, under50k, under50k, under50k, under...  0.653498
51  [under50k, under50k, under50k, under50k, under...  0.653498
48  [under50k, under50k, under50k, under50k, under...  0.652961
53  [under50k, under50k, under50k, under50k, under...  0.652424
47  [under50k, under50k, under50k, under50k, under...  0.651888
56  [under50k, under50k, under50k, under50k, under...  0.651852
50  [under50k, under50k, under50k, under50k, under...  0.651852
45  [under50k, under50k, under50k, under50k, under...  0.651815
54  [under50k, under50k, under50k, under50k, under...  0.651316
58  [under50k, under50k, under50k, under50k, under...  0.650741
57  [under50k, under50k, under50k, under50k, under...  0.650741
55  [under50k, under50k, under50k, under50k, under...  0.650206
59  [under50k, under50k, under50k, under50k, under...  0.649094
75  SVC(C=1, cache_size=1000, class_weight=None, c...  0.641148

[84 rows x 2 columns]

In [85]:
result.ix[69,0]

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=1400, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

### Gradient Boosting Tree

In [86]:
gb = GradientBoostingClassifier(n_estimators=1400)
gb.fit(X_train,y_train)
y_gb = gb.predict(X_test)

In [88]:
getResult(y_test,y_gb)

0.71965811965811965

In [89]:
y_final = gb.predict(X_final)

# 제출용 예측 저장

In [90]:
import numpy

In [91]:
numpy.savetxt('final.csv', y_final, fmt='%s')  # 제출용 데이터를 저장한다