# Final Test (Classification)

In [9]:
import pandas as pd

In [10]:
train = pd.read_csv('train.csv')

In [11]:
train.head()

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,under50k
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,under50k
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,under50k
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,under50k
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,under50k

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24999 entries, 0 to 24998
Data columns (total 12 columns):
age               24999 non-null int64
workclass         24999 non-null object
education         24999 non-null int64
marital           24999 non-null object
occupation        24999 non-null object
relationship      24999 non-null object
race              24999 non-null object
sex               24999 non-null object
capital_gain      24999 non-null int64
capital_loss      24999 non-null int64
hours_per_week    24999 non-null int64
income            24999 non-null object
dtypes: int64(5), object(7)
memory usage: 2.5+ MB

In [17]:
train.columns
indep = train.columns[:-1]
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [18]:
discrete

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex']

In [19]:
continuous

['age', 'education', 'capital_gain', 'capital_loss', 'hours_per_week']

In [20]:
dummy = pandas.get_dummies(train[discrete])
X = pandas.concat([train[continuous], dummy], axis=1)

In [22]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,28,13,0,0,40,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0

In [23]:
dummy.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_Divorced,marital_Married-AF-spouse,marital_Married-civ-spouse,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
2,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
4,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0

## 종속변수

In [35]:
dep = train.columns[-1]
y = train[dep]

In [24]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

## Import library

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
from sklearn import metrics

## ridge

In [58]:
ridge = LogisticRegression(penalty='l2',C=1)

In [59]:
ridge.fit(X_train,y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [60]:
y_ridge = ridge.predict(X_test)

In [61]:
metrics.confusion_matrix(y_test,y_ridge)

array([[ 371,  258],
       [ 130, 1741]])

In [62]:
def getResult(y_test,y_pred):
    print(metrics.confusion_matrix(y_test, y_pred))
    print('accurlacy:', metrics.accuracy_score(y_test, y_pred))
    print('precision:', metrics.precision_score(y_test, y_pred, pos_label='over50k'))
    print('recall:', metrics.recall_score(y_test, y_pred, pos_label='over50k'))
    print('f1:', metrics.f1_score(y_test, y_pred, pos_label='over50k'))

In [63]:
getResult(y_test,y_ridge)

[[ 371  258]
 [ 130 1741]]
accurlacy: 0.8448
precision: 0.740518962076
recall: 0.589825119237
f1: 0.656637168142