In [131]:
import pandas as pd

In [143]:
train = pd.read_csv('train.csv')

In [144]:
indep = train.columns[:-1]

In [145]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [146]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [147]:
dep = train.columns[-1]
y = train[dep]

In [148]:
X.shape

(24999, 46)

In [152]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,28,13,0,0,40,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0

## Neural Network를 위한 replace value 0,1

In [153]:
y = y.replace(['under50k','over50k'],[0,1])

In [154]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [156]:
X_train.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
6910,53,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
18482,50,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
4254,45,5,5178,0,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16161,25,13,0,0,21,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
6673,26,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1

In [158]:
y_train[1:10]

18482    0
4254     1
16161    0
6673     0
15125    0
18669    0
21349    0
2575     0
20908    0
Name: income, dtype: int64

# Tensorflow 불러오기

In [159]:
import tensorflow as tf
import tensorlayer as tl

### 기본 그래프 만들기

In [160]:
tf.reset_default_graph()
tl.layers.set_name_reuse(enable=True)

### 신경망 만들기

In [161]:
x = tf.placeholder(tf.float32, [None, 2]) # 입력 데이터

In [162]:
network = tl.layers.InputLayer(x,name="input") # 입력층

  tensorlayer:Instantiate InputLayer  input: (?, 2)

In [163]:
network = tl.layers.DenseLayer(network,n_units=2,act=tf.sigmoid, name="hidden")

  tensorlayer:Instantiate DenseLayer  hidden: 2, sigmoid

In [164]:
network = tl.layers.DenseLayer(network, n_units=1, act=tf.sigmoid, name="output") # 출력층

  tensorlayer:Instantiate DenseLayer  output: 1, sigmoid

### 데이터

In [165]:
X_train[1:10]

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
18482,50,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
4254,45,5,5178,0,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16161,25,13,0,0,21,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
6673,26,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
15125,50,14,0,0,40,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
18669,55,10,0,0,25,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
21349,22,10,0,0,40,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
2575,44,9,0,0,30,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
20908,53,8,0,0,35,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0

### 비용

In [166]:
predict = network.outputs # 예측값
y = tf.placeholder(tf.float32, [None, 1]) # 실제 값
cost = tl.cost.binary_cross_entropy(network.outputs, y)

In [167]:
gd = tf.train.RMSPropOptimizer(learning_rate=0.01, momentum=0.9)
train_step = gd.minimize(cost)  # cost를 최소화한다

## 데이터 설정

In [170]:
X_train.ix[:,:2].head()

       age  education
6910    53          9
18482   50          9
4254    45          5
16161   25         13
6673    26          9

In [ ]:
np.array(X_)

In [172]:
data = {x:X_train.ix[:,:2],y:y_train}

### 세션과 변수 초기화

In [173]:
sess = tf.InteractiveSession()
sess.run(tf.global_variables_initializer())

### 그래프를 세션에서 실행

In [174]:
predict.eval(data)  # 초기 예측값

ValueError: Cannot feed value of shape (22499,) for Tensor 'Placeholder_1:0', which has shape '(?, 1)'