# Final Test (Classification)
## 데이터 불러오기

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('train.csv')

In [4]:
train.head()

,age,workclass,education,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,under50k
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,under50k
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,under50k
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,under50k
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,under50k

## 독립변수

In [5]:
train.columns

Index(['age', 'workclass', 'education', 'marital', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [6]:
indep = train.columns[:-1]

In [7]:
discrete = []
continuous = []
for v in indep:
    if train[v].dtype == 'object':
        discrete.append(v)
    else:
        continuous.append(v)

In [8]:
discrete

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex']

In [9]:
continuous

['age', 'education', 'capital_gain', 'capital_loss', 'hours_per_week']

In [10]:
dummy = pd.get_dummies(train[discrete])
X = pd.concat([train[continuous], dummy], axis=1)

In [11]:
X.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,13,2174,0,40,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,50,13,0,0,13,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,38,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,53,7,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,28,13,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [12]:
dummy.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_Divorced,marital_Married-AF-spouse,marital_Married-civ-spouse,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## 종속변수

In [13]:
dep = train.columns[-1]
y = train[dep]

In [14]:
type(y)

pandas.core.series.Series

In [15]:
y[1:5]

1    under50k
2    under50k
3    under50k
4    under50k
Name: income, dtype: object

## 데이터 분할

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

## Import library

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
from sklearn import metrics

### 기준점 Lasso (교수님)
    [[ 376  253]
     [ 125 1746]]
    accuracy: 0.8488
    precision: 0.750499001996
    recall: 0.597774244833
    f1: 0.665486725664

### Get_Result(y_test, y_pred)

In [20]:
def getResult(y_test,y_pred):
    #print(metrics.confusion_matrix(y_test, y_pred))
    #print('accurracy:', metrics.accuracy_score(y_test, y_pred))
    #print('precision:', metrics.precision_score(y_test, y_pred, pos_label='over50k'))
    #print('recall:', metrics.recall_score(y_test, y_pred, pos_label='over50k'))
    #print('f1:', metrics.f1_score(y_test, y_pred, pos_label='over50k'))
    return metrics.f1_score(y_test, y_pred, pos_label='over50k')

## Logistic Regression : ridge

In [21]:
def logi(x,y):
    LR = LogisticRegression(penalty=x,C=y)
    LR.fit(X_train,y_train)
    y_ridge = LR.predict(X_test)
    return LR,getResult(y_test,y_ridge)

In [22]:
logistic = []
penal = ['l1','l2']
for i in range(10,20,5):
    for j in penal:
        print(i)
        logistic.append(logi(j,i))

10
10
15
15

In [23]:
pd.DataFrame(logistic)

                                                   0         1
0  LogisticRegression(C=10, class_weight=None, du...  0.667838
1  LogisticRegression(C=10, class_weight=None, du...  0.664894
2  LogisticRegression(C=15, class_weight=None, du...  0.667838
3  LogisticRegression(C=15, class_weight=None, du...  0.663709

# Decision Tree
## Random Forest (랜덤포레스트)

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
def randomLoop(x):
    print(x)
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(X_train,y_train)
    y_rf = rf.predict(X_test)
    return rf,getResult(y_test,y_rf)

In [26]:
RF = []

In [27]:
for i in range(100,1000,100):
    RF.append(randomLoop(i))

100
200
300
400
500
600
700
800
900

In [ ]:
df = pd.DataFrame(RF)

In [ ]:
df

## Gradient Boosting Tree

In [28]:
from sklearn.ensemble import GradientBoostingClassifier

In [29]:
def gbt(x):
    gb = GradientBoostingClassifier(n_estimators=x)
    gb.fit(X_train,y_train)
    y_gb = gb.predict(X_test)
    return gb,getResult(y_test,y_gb)

In [30]:
gb_list = []

In [31]:
for i in range(50,100,5):
    print(i)
    gb_list.append(gbt(i))

50
55
60
65
70
75
80
85
90
95

In [32]:
gb = pd.DataFrame(gb_list)

In [33]:
gb.sort_values([1],ascending=False)

                                                   0         1
9  ([DecisionTreeRegressor(criterion='friedman_ms...  0.684116
8  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683544
6  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683015
7  ([DecisionTreeRegressor(criterion='friedman_ms...  0.683015
4  ([DecisionTreeRegressor(criterion='friedman_ms...  0.678213
5  ([DecisionTreeRegressor(criterion='friedman_ms...  0.677007
3  ([DecisionTreeRegressor(criterion='friedman_ms...  0.675206
2  ([DecisionTreeRegressor(criterion='friedman_ms...  0.670956
1  ([DecisionTreeRegressor(criterion='friedman_ms...  0.662350
0  ([DecisionTreeRegressor(criterion='friedman_ms...  0.656744

## SVM

In [34]:
from sklearn.svm import SVC

In [35]:
def run_model(kernel,penalty,cache):
    model = SVC(kernel=kernel, C=penalty,cache_size=cache)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    return model,getResult(y_test,y_pred)

In [36]:
svc_list=[]

In [37]:
for i in range(1,10):
    svc_list.append(run_model('rbf',i,1000))

In [38]:
df = pd.DataFrame(svc_list)

In [39]:
df.sort_values([1],ascending=False)

                                                   0         1
5  SVC(C=6, cache_size=1000, class_weight=None, c...  0.695575
8  SVC(C=9, cache_size=1000, class_weight=None, c...  0.694128
7  SVC(C=8, cache_size=1000, class_weight=None, c...  0.692982
6  SVC(C=7, cache_size=1000, class_weight=None, c...  0.692511
4  SVC(C=5, cache_size=1000, class_weight=None, c...  0.691689
3  SVC(C=4, cache_size=1000, class_weight=None, c...  0.683499
2  SVC(C=3, cache_size=1000, class_weight=None, c...  0.681901
1  SVC(C=2, cache_size=1000, class_weight=None, c...  0.657330
0  SVC(C=1, cache_size=1000, class_weight=None, c...  0.641148

In [40]:
df.ix[1,0]

SVC(C=2, cache_size=1000, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## 변수간의 관계 재분석

In [41]:
indep2 = train.columns
discrete2 = []
continuous2 = []
for v in indep2:
    if train[v].dtype == 'object':
        discrete2.append(v)
    else:
        continuous2.append(v)

In [42]:
discrete2

['workclass', 'marital', 'occupation', 'relationship', 'race', 'sex', 'income']

In [43]:
dummy2 = pd.get_dummies(train[discrete2])
X2 = pd.concat([train[continuous2], dummy2], axis=1)

In [44]:
X2.head()

,age,education,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,income_over50k,income_under50k
0,39,13,2174,0,40,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,50,13,0,0,13,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,38,9,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,53,7,0,0,40,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,28,13,0,0,40,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [45]:
#X2.corr()
#X2_cor = X2.corr()[::-1]
#X2_cor.ix[0:2,:].T