# Spark DataFrame

In [1]:
import findspark

In [2]:
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7/')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [5]:
df = spark.read.json('Spark_DataFrames/people.json')

 - show dataframe

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

 - schema

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe() # python describe()와는 조금 다르다.

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show() # python의 describe()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

## Create list of StructureType

In [12]:
data_schema = [StructField('age',IntegerType(), True),
              StructField('name',StringType(), True)] # nullable = True of False

In [13]:
final_struc = StructType(fields = data_schema)

In [14]:
df = spark.read.json('Spark_DataFrames/people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

 - Index

In [16]:
df['age']

Column<b'age'>

In [17]:
type(df['age']) # Column Object

pyspark.sql.column.Column

In [18]:
df.select('age')

DataFrame[age: int]

In [19]:
df.select('age').show() # See the column

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [20]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [21]:
df.head(2) # Top 2 Rows

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [22]:
df.head(2)[0] # First Element

Row(age=None, name='Michael')

In [23]:
type(df.head(2)[0])

pyspark.sql.types.Row

Select Multiple Columns

In [24]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

 - make new column with origin column

In [26]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [28]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [32]:
df.withColumn('add_age',df['age']+2).show()

+----+-------+-------+
| age|   name|add_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     32|
|  19| Justin|     21|
+----+-------+-------+

In [29]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

 - Rename Column

In [30]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [31]:
df.show() # Not Change origin Column name

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.createOrReplaceTempView('people') # register sequeal temporary View

In [35]:
results = spark.sql("SELECT * FROM people") 
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
new_result = spark.sql("select * from people where age = 30")
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+