# 10 Minutes to Pandas 
 - Python 유재명 교수 추천

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Object Creation 
 - 수업시간에 함

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20161016', periods=6)
dates

DatetimeIndex(['2016-10-16', '2016-10-17', '2016-10-18', '2016-10-19',
               '2016-10-20', '2016-10-21'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-18  0.163257  0.387009 -0.044881  0.738394
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-20 -0.401978  0.716301 -1.323909  0.544434
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Viewing Data

In [10]:
df.head()

                   A         B         C         D
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-18  0.163257  0.387009 -0.044881  0.738394
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-20 -0.401978  0.716301 -1.323909  0.544434

In [11]:
df.tail(3)

                   A         B         C         D
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-20 -0.401978  0.716301 -1.323909  0.544434
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803

In [12]:
df.index

DatetimeIndex(['2016-10-16', '2016-10-17', '2016-10-18', '2016-10-19',
               '2016-10-20', '2016-10-21'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[-0.15005711,  0.54763864, -1.17357054,  0.59058026],
       [ 0.00325058,  0.44878824,  0.25721578, -0.61920603],
       [ 0.16325709,  0.38700882, -0.04488113,  0.7383944 ],
       [ 0.85274237, -0.24185228, -0.99437509, -0.5696729 ],
       [-0.40197756,  0.71630144, -1.32390914,  0.54443377],
       [-0.45820821, -1.32576647,  0.08791673, -0.38680262]])

Describe shows a quick statistic summary of your data

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.001501  0.088686 -0.531934  0.049621
std    0.479140  0.765916  0.706678  0.637684
min   -0.458208 -1.325766 -1.323909 -0.619206
25%   -0.338997 -0.084637 -1.128772 -0.523955
50%   -0.073403  0.417899 -0.519628  0.078816
75%    0.123255  0.522926  0.054717  0.579044
max    0.852742  0.716301  0.257216  0.738394

In [17]:
df.T

   2016-10-16  2016-10-17  2016-10-18  2016-10-19  2016-10-20  2016-10-21
A   -0.150057    0.003251    0.163257    0.852742   -0.401978   -0.458208
B    0.547639    0.448788    0.387009   -0.241852    0.716301   -1.325766
C   -1.173571    0.257216   -0.044881   -0.994375   -1.323909    0.087917
D    0.590580   -0.619206    0.738394   -0.569673    0.544434   -0.386803

Sorting by an axis

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-10-16  0.590580 -1.173571  0.547639 -0.150057
2016-10-17 -0.619206  0.257216  0.448788  0.003251
2016-10-18  0.738394 -0.044881  0.387009  0.163257
2016-10-19 -0.569673 -0.994375 -0.241852  0.852742
2016-10-20  0.544434 -1.323909  0.716301 -0.401978
2016-10-21 -0.386803  0.087917 -1.325766 -0.458208

In [21]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803
2016-10-20 -0.401978  0.716301 -1.323909  0.544434
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-18  0.163257  0.387009 -0.044881  0.738394
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-16 -0.150057  0.547639 -1.173571  0.590580

Sorting by values

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-18  0.163257  0.387009 -0.044881  0.738394
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-20 -0.401978  0.716301 -1.323909  0.544434

# Selection
 - we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

In [24]:
df['A']

2016-10-16   -0.150057
2016-10-17    0.003251
2016-10-18    0.163257
2016-10-19    0.852742
2016-10-20   -0.401978
2016-10-21   -0.458208
Freq: D, Name: A, dtype: float64

In [25]:
df[0:3]

                   A         B         C         D
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-18  0.163257  0.387009 -0.044881  0.738394

In [27]:
df['20161016':'20161018']

                   A         B         C         D
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-18  0.163257  0.387009 -0.044881  0.738394

## Selection by Labels

In [33]:
#dates[0]
df.loc(dates[0])

In [35]:
df.loc[:,['A','B']]

                   A         B
2016-10-16 -0.150057  0.547639
2016-10-17  0.003251  0.448788
2016-10-18  0.163257  0.387009
2016-10-19  0.852742 -0.241852
2016-10-20 -0.401978  0.716301
2016-10-21 -0.458208 -1.325766

In [38]:
df.loc['20161016':'20161018',['A','B']]

                   A         B
2016-10-16 -0.150057  0.547639
2016-10-17  0.003251  0.448788
2016-10-18  0.163257  0.387009

In [40]:
df.loc['20161016',['A','B']]

A   -0.150057
B    0.547639
Name: 2016-10-16 00:00:00, dtype: float64

 - 이하 수업시간에 한 부분은 생략하겠다.

 - DataFrame Copy

In [42]:
df2 = df.copy()
df2

                   A         B         C         D
2016-10-16 -0.150057  0.547639 -1.173571  0.590580
2016-10-17  0.003251  0.448788  0.257216 -0.619206
2016-10-18  0.163257  0.387009 -0.044881  0.738394
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673
2016-10-20 -0.401978  0.716301 -1.323909  0.544434
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803

In [44]:
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2016-10-16 -0.150057  0.547639 -1.173571  0.590580    one
2016-10-17  0.003251  0.448788  0.257216 -0.619206    one
2016-10-18  0.163257  0.387009 -0.044881  0.738394    two
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673  three
2016-10-20 -0.401978  0.716301 -1.323909  0.544434   four
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803  three

In [46]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2016-10-18  0.163257  0.387009 -0.044881  0.738394    two
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673  three
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803  three

## Setting
 - Setting a new column automatically aligns the data by the indexes

In [50]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20161016', periods=6))
s1

2016-10-16    1
2016-10-17    2
2016-10-18    3
2016-10-19    4
2016-10-20    5
2016-10-21    6
Freq: D, dtype: int64

In [51]:
df['F'] = s1
df

                   A         B         C         D  F
2016-10-16 -0.150057  0.547639 -1.173571  0.590580  1
2016-10-17  0.003251  0.448788  0.257216 -0.619206  2
2016-10-18  0.163257  0.387009 -0.044881  0.738394  3
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673  4
2016-10-20 -0.401978  0.716301 -1.323909  0.544434  5
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803  6

In [53]:
df.at[dates[0],'A'] = 0

In [56]:
df

                   A         B         C         D  F
2016-10-16  0.000000  0.547639 -1.173571  0.590580  1
2016-10-17  0.003251  0.448788  0.257216 -0.619206  2
2016-10-18  0.163257  0.387009 -0.044881  0.738394  3
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673  4
2016-10-20 -0.401978  0.716301 -1.323909  0.544434  5
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803  6

In [57]:
df.iat[0,1] = 0
df

                   A         B         C         D  F
2016-10-16  0.000000  0.000000 -1.173571  0.590580  1
2016-10-17  0.003251  0.448788  0.257216 -0.619206  2
2016-10-18  0.163257  0.387009 -0.044881  0.738394  3
2016-10-19  0.852742 -0.241852 -0.994375 -0.569673  4
2016-10-20 -0.401978  0.716301 -1.323909  0.544434  5
2016-10-21 -0.458208 -1.325766  0.087917 -0.386803  6

In [60]:
len(df)

6

In [61]:
np.array([5] * len(df))

array([5, 5, 5, 5, 5, 5])

In [59]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2016-10-16  0.000000  0.000000 -1.173571  5  1
2016-10-17  0.003251  0.448788  0.257216  5  2
2016-10-18  0.163257  0.387009 -0.044881  5  3
2016-10-19  0.852742 -0.241852 -0.994375  5  4
2016-10-20 -0.401978  0.716301 -1.323909  5  5
2016-10-21 -0.458208 -1.325766  0.087917  5  6

In [63]:
df2 = df.copy()
df2[df2>0]

                   A         B         C  D  F
2016-10-16       NaN       NaN       NaN  5  1
2016-10-17  0.003251  0.448788  0.257216  5  2
2016-10-18  0.163257  0.387009       NaN  5  3
2016-10-19  0.852742       NaN       NaN  5  4
2016-10-20       NaN  0.716301       NaN  5  5
2016-10-21       NaN       NaN  0.087917  5  6

In [64]:
df2[df2>0] = -df2
df2

                   A         B         C  D  F
2016-10-16  0.000000  0.000000 -1.173571 -5 -1
2016-10-17 -0.003251 -0.448788 -0.257216 -5 -2
2016-10-18 -0.163257 -0.387009 -0.044881 -5 -3
2016-10-19 -0.852742 -0.241852 -0.994375 -5 -4
2016-10-20 -0.401978 -0.716301 -1.323909 -5 -5
2016-10-21 -0.458208 -1.325766 -0.087917 -5 -6

## Missing Data

In [66]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D  F    E
2016-10-16  0.000000  0.000000 -1.173571  5  1  1.0
2016-10-17  0.003251  0.448788  0.257216  5  2  1.0
2016-10-18  0.163257  0.387009 -0.044881  5  3  NaN
2016-10-19  0.852742 -0.241852 -0.994375  5  4  NaN