# Basic R Programming 
 - R 프로그래밍을 위한 기초 강의 
 - R문법
 - 기초 통계
 - 고급 통계 
 - 시각화 
 - 고급시각화 
 - 자료는 알까기2, 가지고 있는 자료, SDS 멀티캠퍼스 자료를 바탕으로 제작

## 기초 
 - R은 기본적으로 객체 지향 언어이다.
 - 변수부터 함수 등 모든 것들이 객체로 구성되어있다. 즉, 메모리에서 할당되어 사용된다. 
 - 메모리 기반의 언어이다. 메모리가 클 수록 많은 양의 데이터를 입력하여 연산이 가능하다.

## 변수
 - 데이터를 담는 그릇. 
 - 데이터를 저장해놓지 않는다면 긴 프로그램 또는 자주 활용되는 값들을 담아두고 필요할때마다 변형 또는 그대로 사용

In [3]:
Date <- "2016-05-02"
a <- 1
b <- 2
c = a + b
print(Date)
print(c)

[1] "2016-05-02"
[1] 3

## 데이터 타입. 
 - 벡터 : 모든 데이터 타입의 기본이 된다. 벡터의 집합 형태에 따라 다양한 이름으로 존재한다. 기억하라 모든 기초는 벡터다 
 - 스칼라 : 벡터가 1개가 존재할 경우 
 - numeric(integer, float), chr, boolean, factor 등이 존재한다. 
 - 위와 같은 데이터 타입의 집합 모양에 따라 다양한 집합 Type이 있다.
 - List 
  - 다양한 타입의 백터의 집합. 
 - Array 
  - 다양한 차원의 행렬 집합이며, 같은 데이터 타입만 가능.
 - Matrix
  - 2차원 배열을 기본으로 한다. 같은 데이터 타입만 가능.
 - DataFrame 
  - 벡터의 집합을 Matrix와 같은 2차원 배열로 가지고 있으며 각 열은 같은 데이터 타입만 가질 수 있다. 행별로는 다르게 가능하다.
  - 가장 많이 사용하는 데이터 타입이다.

In [14]:
a1 <- c(5,3,5,7)
print(a1)
print(is(a1))
a1 <- as.integer(a1)
print(is(a1))
c1 <- c("안","녕")
print(c1)
b1 <- c(T,T,F)
print(b1)

[1] 5 3 5 7
[1] "numeric" "vector"
[1] "integer"             "numeric"             "vector"
[4] "data.frameRowLabels"
[1] "안" "녕"
[1]  TRUE  TRUE FALSE

In [13]:
a <- c("남","여")
tmp <- as.factor(rep(a,10))
tmp <- factor(tmp,ordered = T)
table(tmp)

tmp
남 여
10 10

## Dataframe
 - DF[[index]] => 데이터 고유로 출력 즉, vertor로 출력. 
 - DF[index] => Dataframe형태로 출력
 - 기본적인 DB의 구조와 동일하다. Row Colum 구조, 
  - Row : 데이터 Depth 
  - Colum : 속성 즉, 해당 컬럼이 가지는 특성을 대변

In [24]:
head(DF[7]) #DataFrame으로 출력.
str(DF[7])
DF[[7]]  #VECTOR 형태로 추출.
str(DF[[7]])

  height
1  165.3
2  170.1
3  175.0
4  182.1
5  168.0
6  162.0

'data.frame':	17 obs. of  1 variable:
 $ height: num  165 170 175 182 168 ...

 [1] 165.3 170.1 175.0 182.1 168.0 162.0 155.2 176.9 178.5 176.1 167.1 180.0
[13] 162.2 176.1 158.2 168.6 169.2

 num [1:17] 165 170 175 182 168 ...

In [28]:
head(DF[c(6,7)],3)
head(DF[,7],3)  # 하나의 Colum을 지정하면 Vector 형태로 추출. 
head(DF[,c(6,7)],3)

  bloodtype height
1         O  165.3
2        AB  170.1
3         B  175.0

[1] 165.3 170.1 175.0

  bloodtype height
1         O  165.3
2        AB  170.1
3         B  175.0

In [29]:
class(DF[,c(6,7)])
class(DF[,7])
class(DF[c(6,7)])

[1] "data.frame"

[1] "numeric"

[1] "data.frame"

### subset 
 - DataFrame 정보를 조건에 맞춰서 자를때 사용. 즉, 필요 데이터만 뽑을 때 사용한다. 
 - subset(DF, subset = 조건, select = c(컬럼명s))

In [34]:
DF2 <- subset(DF,subset = (height > 170))
head(DF2,3)

    name  sex age grade absence bloodtype height weight
2 이미린 여자  22     2      무        AB  170.1   53.0
3 홍길동 남자  24     4      무         B  175.0   80.1
4 김철수 남자  23     3      무        AB  182.1   85.7

In [36]:
DF4 <- subset(DF,select = c(name,height),subset = (height>170))  #name과 height를 subset(기준)으로 만든다. 
head(DF4,3)

    name height
2 이미린  170.1
3 홍길동  175.0
4 김철수  182.1

In [37]:
DF3 <- DF[DF$height>170,c(1,7)]
head(DF3,3)

    name height
2 이미린  170.1
3 홍길동  175.0
4 김철수  182.1

In [23]:
DF <- read.csv("data/example_studentlist.csv", stringsAsFactors = F)
head(DF)
print(paste0("is it vector? ",is.vector(DF$height)))
str(DF)

    name  sex age grade absence bloodtype height weight
1 김길동 남자  23     3      유         O  165.3   68.2
2 이미린 여자  22     2      무        AB  170.1   53.0
3 홍길동 남자  24     4      무         B  175.0   80.1
4 김철수 남자  23     3      무        AB  182.1   85.7
5 손세수 여자  20     1      유         A  168.0   49.5
6 박미희 여자  21     2      무         O  162.0   52.0

[1] "is it vector? TRUE"
'data.frame':	17 obs. of  8 variables:
 $ name     : chr  "김길동" "이미린" "홍길동" "김철수" ...
 $ sex      : chr  "남자" "여자" "남자" "남자" ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : chr  "유" "무" "무" "무" ...
 $ bloodtype: chr  "O" "AB" "B" "AB" ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

### cbind , rbind 
 - cbind : colum bind 
  - 컬럼(열)의 내용을 추가 
  - 새로운 속성을 각 로우에 맞도록 삽입.
 - rbind : row bind
  - Row(행) 데이터를 추가
  - 새로운 데이터를 그냥 입력 ( 속성유지 )

In [38]:
BMI = DF$weight/DF$height^2
DF <- cbind(DF,BMI)

In [40]:
head(DF,3)

    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

In [41]:
Omit <- read.csv("data/omit.csv")  # 외부 파일 불러오기.
DFTemp <- cbind(DF,Omit)  #합치는 거일뿐
head(DFTemp,3)

    name  sex age grade absence bloodtype height weight         BMI   name
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966 강수친
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754 김길동
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510 김동수
  footsize
1      245
2      270
3      265

 ### Merge 
  - Dataframe 의 내용을 조건에 맞는 컬럼을 매칭시켜 데이터를 cbind 하는 것.
  - cbind와 차이
   - cbind는 그냥 index에 맞도록 데이터를 붙이는 것
   - Merge는 매칭시킬 조건을 제시하여 속성의 Value가 맞는 것을 찾아 해당 컬럼을 기준으로 Join(SQL)

In [42]:
DFTemp2 <- merge(DF,Omit,by = "name")  #name을 기준으로 join
head(DFTemp2,3)

    name  sex age grade absence bloodtype height weight         BMI footsize
1 강수친 여자  22     1      무         O  155.2   45.3 0.001880679      245
2 김길동 남자  23     3      유         O  165.3   68.2 0.002495966      270
3 김동수 남자  24     4      유         B  168.6   70.2 0.002469574      265

## List 
 - 잡동사니 같은 각각의 데이터 타입의 데이터들을 저장

In [45]:
a <- c(1:20)
S <- c("파스타","짬뽕","순두부 찌개","요거트 아이스크림","커피")
L <- c(T,F,F,T,T,T)

List <- list(head(DF,3),a,S,L)
List

[[1]]
    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

[[2]]
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[[3]]
[1] "파스타"            "짬뽕"              "순두부 찌개"
[4] "요거트 아이스크림" "커피"

[[4]]
[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

In [47]:
List <- list(DataFrame = head(DF,3), Number = a, Character = S, Logic = L)  # 리스트는 어떠한 형태라도 합칠 수 가 있다.
List  # 해당 리스트의 내용에 로우 명을 지정할 수 있다.

$DataFrame
    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

$Number
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

$Character
[1] "파스타"            "짬뽕"              "순두부 찌개"
[4] "요거트 아이스크림" "커피"

$Logic
[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

In [48]:
str(List)

List of 4
 $ DataFrame:'data.frame':	3 obs. of  9 variables:
  ..$ name     : chr [1:3] "김길동" "이미린" "홍길동"
  ..$ sex      : chr [1:3] "남자" "여자" "남자"
  ..$ age      : int [1:3] 23 22 24
  ..$ grade    : int [1:3] 3 2 4
  ..$ absence  : chr [1:3] "유" "무" "무"
  ..$ bloodtype: chr [1:3] "O" "AB" "B"
  ..$ height   : num [1:3] 165 170 175
  ..$ weight   : num [1:3] 68.2 53 80.1
  ..$ BMI      : num [1:3] 0.0025 0.00183 0.00262
 $ Number   : int [1:20] 1 2 3 4 5 6 7 8 9 10 ...
 $ Character: chr [1:5] "파스타" "짬뽕" "순두부 찌개" "요거트 아이스크림" ...
 $ Logic    : logi [1:6] TRUE FALSE FALSE TRUE TRUE TRUE

### List 데이터 접근 방법.
 - List$로우명
  - Equal List[[idx]] 
 - List[idx]  
  - Data Type is List
 - List[[idx]]
  - Data Type is Origin Type of Data

In [51]:
List$DataFrame
class(List$DataFrame)

    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

[1] "data.frame"

In [54]:
List[1]
class(List[1])

$DataFrame
    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

[1] "list"

In [56]:
List[[1]]
class(List[[1]])

    name  sex age grade absence bloodtype height weight         BMI
1 김길동 남자  23     3      유         O  165.3   68.2 0.002495966
2 이미린 여자  22     2      무        AB  170.1   53.0 0.001831754
3 홍길동 남자  24     4      무         B  175.0   80.1 0.002615510

[1] "data.frame"

In [58]:
class(List[["Number"]])   # [[]] 와 $로 접근하는 방법은 안의 데이터를 온전한 그 형태를 인지하고 연산 가능하게 하는것.
class(List$Number)        # [] 는 List의 순서에 있는 데이터만 나오는 것으로 여전히 List 데이터 타입을 가지고 있다.

[1] "integer"

[1] "integer"

### split 
 - Dataframe 데이터를 해당 조건에 맞게 list형태로 출력
 - split(data of Dataframe , 조건(data of Dataframe))

In [25]:
HeightBySex <- split(DF$height,DF$sex)   #data.frame의 data를 list형태로 합치면서 data.frame에서 찢어낸다.
class(HeightBySex)
HeightBySex

[1] "list"

$남자
 [1] 165.3 175.0 182.1 178.5 176.1 167.1 180.0 162.2 168.6 169.2

$여자
[1] 170.1 168.0 162.0 155.2 176.9 176.1 158.2

In [27]:
mean(HeightBySex$남자)
mean(HeightBySex[[1]])
mean(HeightBySex$여자)
mean(HeightBySex[[2]])

[1] 172.41

[1] 172.41

[1] 166.6429

[1] 166.6429

### lapply, sapply 맛보기
 - lapply (데이터, 함수) 
  - Output => List
  - Input
   - List => List 요소별로 함수에 적용.
   - DF => Column 별로 함수에 적용.
 - sapply(데이터,함수)
  - Output => Verctor
  - Input  
   - List => List 요소별로 
   - DF => Column 별로 함수에 적용.

In [33]:
lapply(HeightBySex, mean)
l1 <- lapply(iris[-5],mean)
l1
class(l1)
s1 <- sapply(HeightBySex, mean)  #리스트 형태의 각 요소, Index 별로 함수 적용.
print(s1)
class(s1)
s2 <- sapply(iris[-5],mean)     #data.frame 의 경우 각 열별로 데이터를 연산함. 행별로 하기위해서는 apply(data,1,함수)
print(s2)
class(s2)

$남자
[1] 172.41

$여자
[1] 166.6429

$Sepal.Length
[1] 5.843333

$Sepal.Width
[1] 3.057333

$Petal.Length
[1] 3.758

$Petal.Width
[1] 1.199333

[1] "list"

    남자     여자
172.4100 166.6429

[1] "numeric"

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

[1] "numeric"

## table, xtabs
 - table -> 도수분포표 생성
  - table(Data)
 - xtabs : 집계함수 
  - xtabs ( 종속변수 ~ 독립변수 ) => 종속변수의 합이 합산되어 나온다.
  - xtabs( ~ 독립변수 + 독립변수 )

### prop.table 
 - 상대 도수를 구하는 함수 
 - prop.table(값, margin)
  - margin = 1 : Column 별로 상대 도수

In [35]:
Freq <- table(DF$bloodtype) #bloodType Count
Freq

 A AB  B  O
 4  3  5  5

In [39]:
ReleativeFrea <- prop.table(Freq)   # 상대 도수를 구하는 함수. prop.table
ReleativeFrea

        A        AB         B         O
0.2352941 0.1764706 0.2941176 0.2941176

In [41]:
Freq2 <- table(DF$bloodtype,DF$sex)  # BloodType 을 SEX를 기준으로 나눈다. 즉 행에 블러드, 열에 성별.
Freq2

     남자 여자
  A     2    2
  AB    2    1
  B     4    1
  O     2    3

In [43]:
xtabs( ~ DF$bloodtype + DF$sex)

            DF$sex
DF$bloodtype 남자 여자
          A     2    2
          AB    2    1
          B     4    1
          O     2    3

In [46]:
ReleativeFrea2 <- round(prop.table(Freq2) * 100)

Table <- rbind(Freq,ReleativeFrea)
Table

                      A        AB         B         O
Freq          4.0000000 3.0000000 5.0000000 5.0000000
ReleativeFrea 0.2352941 0.1764706 0.2941176 0.2941176

### addmargins 
 - addmargins(table,margin) 
  - margin = 1 열의 합
  - margin = 2 행의 합
  - margin is null : 둘다

In [47]:
#addmargins(table,margin=1/2)  margin 합을 구하는 방법 1 -> 열의 합. 2 -> 행의 합. 생략하면 둘다.
Table <- addmargins(Table,1)
Table

                      A        AB         B         O
Freq          4.0000000 3.0000000 5.0000000 5.0000000
ReleativeFrea 0.2352941 0.1764706 0.2941176 0.2941176
Sum           4.2352941 3.1764706 5.2941176 5.2941176

## Matirx 
 - 행렬
 - 수학의 행렬과 동일하다고 생각하면 될 듯.

In [3]:
tmp_7 = matrix(c(1,2,3,4,5,6,7,8,9),nrow=3,ncol=3,byrow = TRUE)
tmp_7
tmp_8 = matrix(c(1,2,3,4,5,6,7,8,9),nrow=3,ncol=3,byrow = FALSE)
tmp_8
t(tmp_7)
rownames(tmp_7) = c("r1","r2","r3")
colnames(tmp_7) = c("c1","c2","c3")
print(tmp_7)
print(dim(tmp_7))

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

   c1 c2 c3
r1  1  2  3
r2  4  5  6
r3  7  8  9
[1] 3 3

In [5]:
myMatrix <- matrix(1:19, nrow=4, ncol=5)  # 1:20의 경우 4 * 5 완성, 1:19 모자란 값은 1부터 다시 
myMatrix

Warning message:
In matrix(1:19, nrow = 4, ncol = 5): 데이터의 길이[19]가 행의 개수[4]의 배수가 되지 않습니다

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16    1

In [7]:
tmp_7 * tmp_8  # 일반 곱하기 각 행 각 열에 맞게 
tmp_7 %*% tmp_8  # 행렬의 곱을 하려면 %*%

   c1 c2 c3
r1  1  8 21
r2  8 25 48
r3 21 48 81

   [,1] [,2] [,3]
r1   14   32   50
r2   32   77  122
r3   50  122  194

## Array  
 - 다차원배열까지 생성

In [9]:
shortArray <- array(60:1, dim=c(4,5,2)) 
print(shortArray)

fourdimArray <- array(1:120, dim=c(4,5,3,2)) 
print(fourdimArray)

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   60   56   52   48   44
[2,]   59   55   51   47   43
[3,]   58   54   50   46   42
[4,]   57   53   49   45   41

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   40   36   32   28   24
[2,]   39   35   31   27   23
[3,]   38   34   30   26   22
[4,]   37   33   29   25   21

, , 1, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16   20

, , 2, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   21   25   29   33   37
[2,]   22   26   30   34   38
[3,]   23   27   31   35   39
[4,]   24   28   32   36   40

, , 3, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   41   45   49   53   57
[2,]   42   46   50   54   58
[3,]   43   47   51   55   59
[4,]   44   48   52   56   60

, , 1, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   61   65   69   73   77
[2,]   62   66   70   74   78
[3,]   63   67   71   75   79
[4,]   64   68   72   76   80

, , 2, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   81   85   89   93   97
[2,]   82   86   90   94   98
[3,]   83   87   91   95   99
[4,]   84   88   92   96  100

, , 3, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]  101  105  109  113  117
[2,]  102  106  110  114  118
[3,]  103  107  111  115  119
[4,]  104  108  112  116  120

## 데이터 생성
 - : 
 - rep
 - seq
 - sample
 - etc...

In [12]:
1:10

seq(1,10)
seq(1,10,2) # seq(start,end,step)   python과 다르게 시작과 끝 모두 포함된다.

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

In [15]:
rep(c(1,2),10,each=2)  # rep(데이터, 횟수, each=각각횟수)
sample(1:10,10,replace=F) # 1~10까지 숫자를 10개 선택. 
sample(1:10,10,replace=T) # 반복 허용.

 [1] 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1
[39] 2 2

 [1] 10  7  6  2  8  4  9  3  1  5

 [1] 2 9 4 6 8 9 2 6 4 2

In [17]:
seq_along(seq(1,10,2))  # seq(1,10,2) => 1,3,5,7,9 이지만 인댁스 생성

a <- seq(1,10,2)

for(i in seq_along(seq_along(a))){
  print(a[i])
}
i = 0
while(i<=10){
  print(i)
  i = i + 1
}

[1] 1 2 3 4 5

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9
[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### which

In [18]:
x <- 10:1
which(x>5)
x[x>5]

[1] 1 2 3 4 5

[1] 10  9  8  7  6

### 집합 & 샘플링.

In [20]:
set.seed(1)
myVector <- sample(1:10, 5, replace=TRUE)
print(myVector)
set.seed(2)
herVector <- sample(1:10, 5, replace=TRUE)
print(herVector)
print(setdiff(myVector, herVector)) #  3,4 차집합. // 앞 데이터를 기준으로 앞에 꺼가 뒤에 없는 것만 보여주기
print(setdiff(herVector, myVector))
print(intersect(myVector, herVector))  # 교집합
print(union(myVector, herVector))  #합집합

print(length(myVector))

[1]  3  4  6 10  3
[1]  2  8  6  2 10
[1] 3 4
[1] 2 8
[1]  6 10
[1]  3  4  6 10  2  8
[1] 5

### 함수 
 - 내장함수
 - User Define 함수

In [48]:
func <- function(x){
  result = x ** 2
  return(result)
}

a1 <- func(2)
print(a1)

[1] 4

### 결측치 다루기 
 - NA : Not Available
 - complete.cases()
  - NA : False
  - Others : True
 - Data.Frame 에서도 사용가능. 
  - but 해당 Row가 전체 False가 되어 전체 삭제가 된다.

In [49]:
a <- c(1,2,5,NA,2,3,4)
complete.cases(a) #NA만 False 나머지 true
a[complete.cases(a)]  #NA를 제외한 나머지 출력
#data.frame에도 사용할 수 있다. 행단위로 True, False출력 하나라도 NA면 false 전체 삭제가 된다. 
#na.omit() 함수도 동일하게 NA를 제거하고 출력한다.

[1]  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

[1] 1 2 5 2 3 4