# 쿠크들을 위한 Basic R 
 - 수업 자료 + 다른 기본 자료

### 변수, 함수

In [2]:
# 변수 지정 

a <-  1 
print(a)

# 함수 생성 

func <- function(x){
  result = x ** 2
  return(result)
}

a1 <- func(2)
print(a1)

[1] 1
[1] 4

- R의 기본은 벡터 
- 모든게 벡터이다. 벡터의 집합 형태에 따라 리스트, data.frame, array, 스칼라, matrix 등으로 결정된다.

In [4]:
1:10

seq(1,10)
seq(1,10,2)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

In [7]:
rep(c(1,2),10,each=2)
sample(1:10,10,replace=F) # 1~10까지 숫자를 10개 선택. 
sample(1:10,10,replace=T) # 반복 허용.

 [1] 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1 2 2 1 1
[39] 2 2

 [1]  5 10  1  7  8  4  9  3  6  2

 [1]  9  6  9 10  6  3  8  4 10  3

In [23]:
seq_along(seq(1,10,2))  # seq(1,10,2) => 1,3,5,7,9 이지만 인댁스 생성

a <- seq(1,10,2)

for(i in seq_along(seq_along(a))){
  print(a[i])
}
i = 0
while(i<=10){
  print(i)
  i = i + 1
}

[1] 1 2 3 4 5

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9
[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### which

In [24]:
x <- 10:1
which(x>5)
x[x>5]

[1] 1 2 3 4 5

[1] 10  9  8  7  6

###  집합, 샘플링

In [15]:
set.seed(1)
myVector <- sample(1:10, 5, replace=TRUE)
print(myVector)
set.seed(2)
herVector <- sample(1:10, 5, replace=TRUE)
print(herVector)
print(setdiff(myVector, herVector)) #  3,4 차집합. // 앞 데이터를 기준으로 앞에 꺼가 뒤에 없는 것만 보여주기
print(setdiff(herVector, myVector))
print(intersect(myVector, herVector))  # 교집합
print(union(myVector, herVector))  #합집합

print(length(myVector))

[1]  3  4  6 10  3
[1]  2  8  6  2 10
[1] 3 4
[1] 2 8
[1]  6 10
[1]  3  4  6 10  2  8
[1] 5

 ## 행렬

In [27]:
tmp_7 = matrix(c(1,2,3,4,5,6,7,8,9),nrow=3,ncol=3,byrow = TRUE)
tmp_7
tmp_8 = matrix(c(1,2,3,4,5,6,7,8,9),nrow=3,ncol=3,byrow = FALSE)
tmp_8
t(tmp_7)
rownames(tmp_7) = c("r1","r2","r3")
colnames(tmp_7) = c("c1","c2","c3")
print(tmp_7)
print(dim(tmp_7))

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

   c1 c2 c3
r1  1  2  3
r2  4  5  6
r3  7  8  9
[1] 3 3

In [28]:
myMatrix <- matrix(1:19, nrow=4, ncol=5)  # 1:20의 경우 4 * 5 완성, 1:19 모자란 값은 1부터 다시 
myMatrix

Warning message:
In matrix(1:19, nrow = 4, ncol = 5): 데이터의 길이[19]가 행의 개수[4]의 배수가 되지 않습니다

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16    1

In [25]:
tmp_7 * tmp_8  # 일반 곱하기 각 행 각 열에 맞게 
tmp_7 %*% tmp_8  # 행렬의 곱을 하려면 %*%

   c1 c2 c3
r1  1  8 21
r2  8 25 48
r3 21 48 81

   [,1] [,2] [,3]
r1   14   32   50
r2   32   77  122
r3   50  122  194

### Data.Frame

In [29]:
tmp_9 = data.frame(c(1,3,5,7,9),c(2,4,6,8,10))
colnames(tmp_9) = c("C1","C2")
tmp_9$C3 = c("A","B","C","D","E")
tmp_9$C4 = c("A","B","C","D","")
str(tmp_9)   # 세로별 데이터 형태는 동일해야하나 가로별로는 다른 형태가 들어가도 된다.

'data.frame':	5 obs. of  4 variables:
 $ C1: num  1 3 5 7 9
 $ C2: num  2 4 6 8 10
 $ C3: chr  "A" "B" "C" "D" ...
 $ C4: chr  "A" "B" "C" "D" ...

### Array

In [31]:
shortArray <- array(60:1, dim=c(4,5,2)) 
print(shortArray)

fourdimArray <- array(1:120, dim=c(4,5,3,2)) 
print(fourdimArray)

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   60   56   52   48   44
[2,]   59   55   51   47   43
[3,]   58   54   50   46   42
[4,]   57   53   49   45   41

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   40   36   32   28   24
[2,]   39   35   31   27   23
[3,]   38   34   30   26   22
[4,]   37   33   29   25   21

, , 1, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16   20

, , 2, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   21   25   29   33   37
[2,]   22   26   30   34   38
[3,]   23   27   31   35   39
[4,]   24   28   32   36   40

, , 3, 1

     [,1] [,2] [,3] [,4] [,5]
[1,]   41   45   49   53   57
[2,]   42   46   50   54   58
[3,]   43   47   51   55   59
[4,]   44   48   52   56   60

, , 1, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   61   65   69   73   77
[2,]   62   66   70   74   78
[3,]   63   67   71   75   79
[4,]   64   68   72   76   80

, , 2, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   81   85   89   93   97
[2,]   82   86   90   94   98
[3,]   83   87   91   95   99
[4,]   84   88   92   96  100

, , 3, 2

     [,1] [,2] [,3] [,4] [,5]
[1,]  101  105  109  113  117
[2,]  102  106  110  114  118
[3,]  103  107  111  115  119
[4,]  104  108  112  116  120